@page "{specificationId}"
@model CalculateFunding.Frontend.Pages.Specs.CreateCalculationPageModel
@using CalculateFunding.Frontend.Properties

@{
    ViewData["Title"] = "Create calculation specification for policy";
    Layout = "~/Pages/_Layout.cshtml";
}

@section FormBannerLeft{
    <p class="hero-text">Year: @Model.AcademicYearName</p>
    <h1 class="hero-title">Create calculation specification for policy</h1>
    <p class="hero-text">Creating calculation specification for @Model.SpecificationName</p>
}

@section BreadCrumb{
    <div class="breadcrumbs">
        <ol>
            <li><a href="/">@BreadcrumbText.CalculateFunding</a></li>
            <li><a href="/specs?academicYearId=@Model.AcademicYearId#spec-@Model.SpecificationId">@Model.AcademicYearName</a></li>
            <li><a href="/specs/policies/@Model.SpecificationId">@Model.SpecificationName</a></li>
            <li>@BreadcrumbText.CreateCalculation</li>
        </ol>
    </div>
}

<div class="row">
    <div class="col-sm-9 col-md-6">
        <form method="post" class="form">
            <div gds-validation-summary="All"></div>
            <div>
                <div gds-validationblock-for="CreateCalculationViewModel.Name">
                    <div class="form-group">
                        <a validationanchor-for="CreateCalculationViewModel.Name"></a>
                        <label asp-for="CreateCalculationViewModel.Name">Name</label>
                        <input asp-for="CreateCalculationViewModel.Name" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div>
                <div gds-validationblock-for="CreateCalculationViewModel.PolicyId">
                    <div class="form-group">
                        <a validationanchor-for="CreateCalculationViewModel.PolicyId"></a>
                        <label asp-for="CreateCalculationViewModel.PolicyId">Select policy or subpolicy</label>
                        <select asp-items="@(Model.Policies)" asp-for="CreateCalculationViewModel.PolicyId" class="form-control">
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <div gds-validationblock-for="CreateCalculationViewModel.AllocationLineId">
                    <div class="form-group">
                        <a validationanchor-for="CreateCalculationViewModel.AllocationLineId"></a>
                        <label asp-for="CreateCalculationViewModel.AllocationLineId">Allocation line</label>
                        <select asp-items="@(Model.AllocationLines)" asp-for="CreateCalculationViewModel.AllocationLineId" class="form-control">
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <div gds-validationblock-for="CreateCalculationViewModel.Description">
                    <div class="form-group">
                        <a validationanchor-for="CreateCalculationViewModel.Description"></a>
                        <label asp-for="CreateCalculationViewModel.Description">Description</label>
                        <textarea asp-for="CreateCalculationViewModel.Description" rows="10" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <p class="form-submit-container"><button type="submit" class="button" id="save-button">Save</button> <a href="/specs/policies/@Model.SpecificationId" id="cancel-link">Cancel</a></p>

        </form>

    </div>
</div>