@page "{fundingPeriodId?}"
@model CalculateFunding.Frontend.Pages.Specs.CreateSpecificationPageModel
@using CalculateFunding.Frontend.Properties
@{
    ViewData["Title"] = "Create specification";
}

@section NavBar {
    <partial name="_NavbarPartial" />
}

@if (!Model.IsAuthorizedToCreate)
{
    @section PermissionWarnings
{
        <div class="row">
            <div class="col-xs-12 permission-warning-banner">
                <div class="permission-warning-inner">

                    <p class="permission-warning-text"><i class="material-icons permission-warning-icon">warning</i>You are not permitted to create a specification for any funding stream</p>
                </div>
            </div>
        </div>
    }
}

@section FormBannerLeft{
    <h1 class="hero-title">Create specification</h1>
}

@section BreadCrumb{
    <div class="breadcrumbs">
        <ol>
            <li><a href="/">@BreadcrumbText.CalculateFunding</a></li>
            <li><a href="/specs">@BreadcrumbText.Specifications</a></li>
            <li>@BreadcrumbText.CreateSpecification</li>
        </ol>
    </div>
}

<div id="create-specification" class="row">
    <div class="col-sm-9 col-md-6">
        <form method="post" class="form">
            <div gds-validation-summary="All">
            </div>
            <div>
                <div gds-validationblock-for="CreateSpecificationViewModel.Name">
                    <div class="form-group">
                        <a validationanchor-for="CreateSpecificationViewModel.Name"></a>
                        <label asp-for="CreateSpecificationViewModel.Name">Specification name</label>
                        <h4 class="material-icons-content-container"><i class="material-icons material-icons-left">error</i> <span class="faded-text">Use a descriptive unique name other users can understand</span></h4>
                        <input asp-for="CreateSpecificationViewModel.Name" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div>
                <a validationanchor-for="CreateSpecificationViewModel.FundingPeriodId"></a>

                <div gds-validationblock-for="CreateSpecificationViewModel.FundingPeriodId">
                    <div class="form-group">
                        <label asp-for="CreateSpecificationViewModel.FundingPeriodId">Funding period</label>
                        <select asp-items="@(Model.FundingPeriods)" asp-for="CreateSpecificationViewModel.FundingPeriodId" class="form-control">
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <a validationanchor-for="CreateSpecificationViewModel.FundingStreamId"></a>

                <div gds-validationblock-for="CreateSpecificationViewModel.FundingStreamId">
                    <div class="form-group">
                        <label asp-for="CreateSpecificationViewModel.FundingStreamId">Funding streams</label>
                        <h4 class="material-icons-content-container"><i class="material-icons material-icons-left">error</i> <span class="faded-text">Select a funding stream</span></h4>
                        <select data-bind="event: { change: fundingStreamChanged }, value: selectedFundingStream" asp-items="@(Model.FundingStreams)" asp-for="CreateSpecificationViewModel.FundingStreamId" id="select-funding-stream" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div>
                <a validationanchor-for="CreateSpecificationViewModel.ProviderVersionId"></a>

                <div gds-validationblock-for="CreateSpecificationViewModel.ProviderVersionId">
                    <div class="form-group">
                        <label asp-for="CreateSpecificationViewModel.ProviderVersionId">Core Provider Data</label>
                        <h4 class="material-icons-content-container"><i class="material-icons material-icons-left">error</i> <span class="faded-text">Select a funding stream before choosing the provider data</span></h4>
                        <select data-bind="foreach:providerVersions" asp-for="CreateSpecificationViewModel.ProviderVersionId" class="form-control gds-select gds-select-taghelper">
                            <option></option>
                            <option data-bind="value: providerVersionId, text: display, attr: {'data-description': description}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <div gds-validationblock-for="CreateSpecificationViewModel.Description">
                    <div class="form-group">
                        <a validationanchor-for="CreateSpecificationViewModel.Description"></a>
                        <label asp-for="CreateSpecificationViewModel.Description">Description</label>
                        <textarea asp-for="CreateSpecificationViewModel.Description" rows="10" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <p class="form-submit-container"><button type="submit" class="button" disabled="@(!Model.IsAuthorizedToCreate)" id="save-button">Create specification</button> <a href="/specs?fundingPeriodId=@Model.FundingPeriodId" id="cancel-link">Cancel</a></p>

        </form>

    </div>
</div>

@section scripts{
    <script asp-src-include="~/assets/libs/js/knockout-latest.js" type="text/javascript" asp-append-version="true"></script>
    <script asp-src-include="~/assets/libs/js/select2.min.js" type="text/javascript" asp-append-version="true"></script>
    <script asp-src-include="~/js/specification.common.js" type="text/javascript" asp-append-version="true"></script>
    <script type="text/javascript">
        var vm = new calculateFunding.specification.SpecificationCommonViewModel();

        var createSpecificationContainer = document.getElementById("create-specification");
        if (createSpecificationContainer) {
            ko.applyBindings(vm, createSpecificationContainer);
        }

        vm.fundingStreamChanged();
    </script>
    <script asp-src-include="~/js/submit.disabler.js" asp-append-version="true" type="text/javascript"></script>
}

@section styles{
    <link rel="stylesheet" href="~/assets/libs/css/select2.min.css" />
}