@page "{specificationId}"
@model CalculateFunding.Frontend.Pages.Specs.CreatePolicyPageModel
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using CalculateFunding.Frontend.Properties

@{
    ViewData["Title"] = "Create policy";
    Layout = "~/Pages/_Layout.cshtml";
}

@section FormBannerLeft{
    <p class="hero-text">Year: @Model.AcademicYearName</p>
    <h1 class="hero-title">Create policy</h1>
    <p class="hero-text"> Create policy for @Model.SpecificationName</p>
}

@section BreadCrumb{
    <div class="breadcrumbs">
        <ol>
            <li><a href="/">@BreadcrumbText.CalculateFunding</a></li>
            <li><a href="/specs?academicYearId=@Model.AcademicYearId#spec-@Model.SpecificationId">@Model.AcademicYearName</a></li>
            <li><a href="/specs/policies/@Model.SpecificationId">@Model.SpecificationName</a></li>
            <li>@BreadcrumbText.CreatePolicy</li>
        </ol>
    </div>
}

<div class="row">
    <div class="col-sm-9 col-md-6">
        <form method="post" class="form">
            <div asp-validation-summary="All">
                @if (!Model.ModelState.IsValid)
                {
                    <span class="heading-medium">There is a problem</span>
                    <p><strong>Check that you have answered the questions correctly</strong></p>
                }
            </div>
            <div>
                <div class="@(ModelState.IsPropertyInvalid("CreatePolicyViewModel.Name") == true ? "validation-failed-block" : "validation-passed-block" )">
                    <div class="form-group">
                        <label asp-for="CreatePolicyViewModel.Name" class="@(ModelState.IsPropertyInvalid("CreatePolicyViewModel.Name") == true ? "validation-failed-label" : "" )">Name of the policy</label>
                        <input asp-for="AcademicYearName" type="hidden" />
                        <input asp-for="AcademicYearId" type="hidden" />
                        <input asp-for="SpecificationId" type="hidden" />
                        <input asp-for="SpecificationName" type="hidden" />
                        <input asp-for="CreatePolicyViewModel.Name" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <div>
                <div class="@(ModelState.IsPropertyInvalid("CreatePolicyViewModel.Description") == true ? "validation-failed-block" : "validation-passed-block" )">
                    <div class="form-group">
                        <label class="@(ModelState.IsPropertyInvalid("CreatePolicyViewModel.Description") == true ? "validation-failed-label" : "" )" asp-for="CreatePolicyViewModel.Description">Description</label>
                        <textarea asp-for="CreatePolicyViewModel.Description" rows="10" class="form-control" id="contents" title="Contents"></textarea>
                    </div>
                </div>
            </div>
            <p class="form-submit-container"><button type="submit" class="button">Save</button> <a href="/specs/policies/@Model.SpecificationId">Cancel</a></p>

        </form>

    </div>
</div>
@section Scripts
    {
    @*<script type="text/javascript">
            $(function () {
                $('.summernote').summernote({
                    height: 200
                });

                $('form').on('submit', function (e) {
                    e.preventDefault();
                    alert($('.summernote').summernote('code'));
                    alert($('.summernote').val());
                });
            });
        </script>*@
}
