@page "{specificationId}"
@model CalculateFunding.Frontend.Pages.Specs.EditSpecificationPageModel
@using CalculateFunding.Frontend.Properties

@{
    ViewData["Title"] = "Edit specification";
}

@section FormBannerLeft{
    <h1 class="hero-title">Edit Specification</h1>
}

@section NavBar {
    <partial name="_NavbarPartial" />
}

@if (!Model.IsAuthorizedToEdit)
{
    @section PermissionWarnings
        {
        <div class="row">
            <div class="col-xs-12 permission-warning-banner">
                <div class="permission-warning-inner">
                    <p class="permission-warning-text"><i class="material-icons permission-warning-icon">warning</i>You are not permitted to make changes to this specification</p>
                </div>
            </div>
        </div>
    }
}

@section BreadCrumb{
    <div class="breadcrumbs">
        <ol>
            <li><a href="/">@BreadcrumbText.CalculateFunding</a></li>
            <li><a href="/specs/">@BreadcrumbText.Specifications</a></li>
            <li><a href="/specs/policies/@Model.EditSpecificationViewModel.Id">@Model.EditSpecificationViewModel.Name</a></li>
            <li>@BreadcrumbText.EditSpecification</li>
        </ol>
    </div>
}

<div class="row" id="edit-specification">
    <div class="col-sm-9 col-md-6">
        <form method="post" class="form">
            <input asp-for="EditSpecificationViewModel.Id" type="hidden" />
            <input asp-for="EditSpecificationViewModel.OriginalSpecificationName" type="hidden" />
            <input asp-for="EditSpecificationViewModel.OriginalFundingStreamId" type="hidden" />
            <input asp-for="EditSpecificationViewModel.OriginalFundingPeriodId" type="hidden" />
            <input asp-for="EditSpecificationViewModel.IsSelectedForFunding" type="hidden" />
            <div gds-validation-summary="All">
            </div>
            <div>
                <div gds-validationblock-for="EditSpecificationViewModel.Name">
                    <div class="form-group">
                        <a validationanchor-for="EditSpecificationViewModel.Name"></a>
                        <label asp-for="EditSpecificationViewModel.Name">Specification name</label>
                        <h4 class="material-icons-content-container"><i class="material-icons material-icons-left">error</i> <span class="faded-text">Use a descriptive unique name users can understand</span></h4>
                        <input asp-for="EditSpecificationViewModel.Name" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div>
                <a validationanchor-for="EditSpecificationViewModel.FundingPeriodId"></a>

                <div gds-validationblock-for="EditSpecificationViewModel.FundingPeriodId">
                    <div class="form-group">

                        <label asp-for="EditSpecificationViewModel.FundingPeriodId">Funding period</label>
                        @if (Model.EditSpecificationViewModel.IsSelectedForFunding)
                        {
                            <h4 class="material-icons-content-container"><i class="material-icons material-icons-left">error</i> <span class="faded-text">You can't change this as this specification has been chosen for a funding period</span></h4>
                        }

                        <select id="select-funding-period" disabled="@(Model.EditSpecificationViewModel.IsSelectedForFunding ? true : false)" class="form-control" asp-for="EditSpecificationViewModel.FundingPeriodId" data-bind="foreach: fundingPeriods">
                            <option data-bind="value:id, text: name"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <a validationanchor-for="EditSpecificationViewModel.FundingStreamId"></a>

                <div gds-validationblock-for="EditSpecificationViewModel.FundingStreamId">
                    <div class="form-group">
                        <label asp-for="EditSpecificationViewModel.FundingStreamId">Funding stream</label>
                        <h4 class="material-icons-content-container"><i class="material-icons material-icons-left">error</i> <span class="faded-text">@(Model.EditSpecificationViewModel.IsSelectedForFunding ? "You can't change this as this specification has been chosen for a funding period" : "Changing a funding stream will break the specification's funding calculations")</span></h4>
                        <select data-bind="event: { change: fundingStreamChanged }, value: selectedFundingStream" asp-items="@(Model.FundingStreams)" asp-for="EditSpecificationViewModel.FundingStreamId" id="select-funding-stream" disabled="@(Model.EditSpecificationViewModel.IsSelectedForFunding ? true : false)" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div>
                <a validationanchor-for="EditSpecificationViewModel.ProviderVersionId"></a>

                <div gds-validationblock-for="EditSpecificationViewModel.ProviderVersionId">
                    <div class="form-group">

                        <label asp-for="EditSpecificationViewModel.ProviderVersionId">Core Provider Data</label>
                        <h4 class="material-icons-content-container"><i class="material-icons material-icons-left">error</i> <span class="faded-text">Select a funding stream before choosing the provider data</span></h4>
                        <select data-bind="foreach:providerVersions, value:selectedProviderVersion" asp-for="EditSpecificationViewModel.ProviderVersionId" class="form-control gds-select gds-select-taghelper">
                            <option></option>
                            <option data-bind="value: providerVersionId, text: display, attr: {'data-description': description}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <div gds-validationblock-for="EditSpecificationViewModel.Description">
                    <div class="form-group">
                        <a validationanchor-for="EditSpecificationViewModel.Description"></a>
                        <label asp-for="EditSpecificationViewModel.Description">Description</label>
                        <h4 class="material-icons-content-container"><i class="material-icons material-icons-left">error</i> <span class="faded-text">Add to this to say what’s changed</span></h4>
                        <textarea asp-for="EditSpecificationViewModel.Description" rows="10" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <p class="form-submit-container"><button class="button" disabled="@(!Model.IsAuthorizedToEdit)" id="save-button" type="submit">Update specification</button> <a href="/specs/policies/@Model.EditSpecificationViewModel.Id" id="cancel-link">Back</a></p>

        </form>

    </div>
</div>

@section scripts{
    <script asp-src-include="~/assets/libs/js/knockout-latest.js" type="text/javascript" asp-append-version="true"></script>
    <script asp-src-include="~/assets/libs/js/select2.min.js" type="text/javascript" asp-append-version="true"></script>
    <script asp-src-include="~/js/specification.common.js" type="text/javascript" asp-append-version="true"></script>
    <script asp-src-include="~/js/submit.disabler.js" asp-append-version="true" type="text/javascript"></script>
    <script type="text/javascript">
        var vm = new calculateFunding.specification.SpecificationCommonViewModel();

        var editSpecificationContainer = document.getElementById("edit-specification");
        if (editSpecificationContainer) {
            ko.applyBindings(vm, editSpecificationContainer);
        }
        vm.fundingStreamChanged('@(Model.EditSpecificationViewModel.ProviderVersionId)', '@(Model.EditSpecificationViewModel.FundingPeriodId)');
    </script>
}

@section styles{
    <link rel="stylesheet" href="~/assets/libs/css/select2.min.css" />
}

