@page
@model CalculateFunding.Frontend.Pages.Specs.IndexModel
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv
@using CalculateFunding.Frontend.ViewModels.Common
@using Microsoft.AspNetCore.Hosting
@using CalculateFunding.Frontend.Properties

@{
    ViewData["Title"] = "Manage specification";
}

@section NavBar {
    <partial name="_NavbarPartial" />
}

@section BreadCrumb{

    <div class="breadcrumbs">
        <ol>
            <li><a href="/">@BreadcrumbText.CalculateFunding</a></li>
            <li>@BreadcrumbText.Specifications</li>
        </ol>
    </div>
}
@section BannerWholeBlue{
    <!-- Breadcrumbs -->
    <h1 class="hero-title">Specifications</h1>
    <div class="row">
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <form method="post" action="/specs" class="filter-container spacing-15" id="filter-container" data-bind="submit: performSearch" asp-antiforgery="true">

                <div class="input-group" role="search">
                    <input type="text" asp-for="SearchTerm" class="form-control" placeholder="Search specifications" data-bind="textInput: searchTerm, enable: canSelectFilters" aria-label="Search specifications" />
                    <div class="input-group-addon"><button class="search-button" title="Search" data-bind="enable: canPerformSearch"><img src="~/assets/images/icon-search.png" /></button></div>
                </div>
            </form>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="banner-floating-link-container">
                <a href="/specs/CreateSpecification">Create specification</a>
            </div>
        </div>
    </div>
    
}

@if (Model.OperationType.HasValue)
{
    <partial name="_PageBannerOperationPartial" model="Model.PageBanner" />
}

<div class="row" id="manage-specifications-container">
    <partial name="_SearchErrorPartial" />
    <div class="col-xs-12">

        <div class="table-filter-container" id="table-filter-header">
            <div class="row">
                <div class="col-xs-2">
                    <div class="withjs-show">
                        <label for="fundingPeriods">Funding period</label>
                        <select id="fundingPeriods" data-bind="multiselect2: multiSelectConfigOptions, options: fundingPeriods, optionsText: 'displayName', optionsValue: 'name', selectedOptions: selectedFundingPeriods, enable: canSelectFilters" multiple></select>
                    </div>
                </div>

                <div class="col-xs-3">
                    <div class="withjs-show">
                        <label for="fundingStreams">Funding streams</label>
                        <select id="fundingStreams" data-bind="multiselect2: multiSelectConfigOptions, options: fundingStreams, optionsText: 'displayName', optionsValue: 'name', selectedOptions: selectedFundingStreams, enable: canSelectFilters" multiple></select>
                    </div>
                </div>

                <div class="col-xs-2">
                    <div class="withjs-show">
                        <label for="status">Status</label>
                        <select id="status" data-bind="multiselect2: multiSelectConfigOptions, options: statuses, optionsText: 'displayName', optionsValue: 'name', selectedOptions: selectedStatuses, enable: canSelectFilters" multiple></select>
                    </div>
                </div>

                <div class="col-xs-2">
                    <div class="spacing-30-top withjs-show">
                        <a href="#" data-bind="click: removeFilters">Clear filters</a>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="spacing-30-top text-right">
                        <partial name="_SearchTableRowCountPartial" model='new PagerPartialViewModel(Model.SearchResults, "specifications", Model.SearchTerm)' />
                    </div>
                </div>
            </div>
        </div>
        <table class="cf" id="specifications-table" data-bind="visible: isResultsVisible">
            <thead>
                <tr>
                    <th>Specification</th>
                    <th>Last edited data</th>
                    <th>Specification status</th>
                </tr>
            </thead>

            <tbody data-bind="foreach: specifications" class="withjs-show" id="dynamic-results-table-body">
                <tr>
                    <td class="no-border">
                        <span class="button-split-container">
                            <span class="button-split-text">
                                <a data-bind="attr: {href: '/specs/fundinglinestructure/' + id }, text: name"></a>
                            </span>
                        </span>
                    </td>
                    <td>
                        <span class="datetime-split-container">
                            <span class="datetime-split-date data-specification-lastupdated-date" data-bind="text: lastUpdatedDateFormatted"></span>
                            <span class="datetime-split-time data-specification-lastupdated-time" data-bind="text: lastUpdatedTimeFormatted"></span>
                        </span>
                    </td>
                    <td data-bind="text: status"></td>
                </tr>
            </tbody>
            <tbody data-bind="visible: !searchPerformed()" id="static-results-table-body">
            @{
                // JB:What is this for?
                    int rowId = 0;
                }

                @foreach (var specification in Model.SearchResults.Specifications)
                {
                    <tr>
                        <td>
                            <span class="button-split-container">
                                <span class="button-split-text">
                                    <a href="/specs/FundingLineStructure/@specification.Id" class="data-static-specification-name">@specification.Name</a>
                                </span>
                            </span>
                        </td>
                        <td>
                            <span class="datetime-split-container">
                                <span class="datetime-split-date data-static-specification-lastupdated-date">@specification.LastUpdatedDateFormatted</span>
                                <span class="datetime-split-time data-static-specification-lastupdated-time">@specification.LastUpdatedTimeFormatted</span>
                            </span>
                        </td>
                        <td>@specification.Status</td>
                    </tr>
                    rowId++;
                }
            </tbody>
        </table>

        <div class="withjs-show search-loading-container spacing-30-top" data-bind="visible: isLoading">
            <img src="~/assets/images/loader.gif" alt="Loading" />
            <p>Loading specifications</p>
        </div>

        <div class="noresults-panel spacing-30 withjs-show" data-bind="visible: specifications().length === 0">
            <span class="noresults-panel-text">
                <i class="material-icons">error</i> No specifications found. <a href="/specs/CreateSpecification">Create a specification</a>.
            </span>
        </div>

        <partial name="_SearchTablePagerPartial" model='new PagerPartialViewModel(Model.SearchResults, "specifications", Model.SearchTerm)' />
    </div>
</div>

@section scripts{
    <script asp-src-include="~/assets/libs/js/knockout-latest.js" asp-append-version="true" type="text/javascript"></script>
    @if (!hostingEnv.IsDevelopment())
    {
        <script asp-src-include="~/assetsjs/bootstrap-multiselect-*.js" asp-append-version="true" type="text/javascript"></script>
    }
    else
    {
        <script asp-src-include="~/assets/js/bootstrap-multiselect.js" asp-append-version="true" type="text/javascript"></script>
    }
    <script asp-src-include="~/js/bindingHandler.multiselect.js" asp-append-version="true" type="text/javascript"></script>
    <script asp-src-include="~/js/search.js" asp-append-version="true" type="text/javascript"></script>

    <script asp-src-include="~/js/search.specifications.js" asp-append-version="true" type="text/javascript"></script>

    <script type="text/javascript">
        var vm = new calculateFunding.manageSpecifications.SpecificationSearchViewModel();
        var filterElement = document.getElementById("filter-container");
        if (filterElement) {
            ko.applyBindings(vm, filterElement);
        }

        var manageCalculationsContainer = document.getElementById("manage-specifications-container");
        if (manageCalculationsContainer) {
            ko.applyBindings(vm, manageCalculationsContainer);
        }

        var initialResults = @Html.Raw(Model.InitialSearchResults);

        vm.setInitialResults(initialResults);

    </script>
}

@section styles{
    <link rel="stylesheet" asp-href-include="~/assets/libs/css/bootstrap-multiselect.css" asp-append-version="true" />
}
