@page
@using CalculateFunding.Frontend
@using CalculateFunding.Frontend.ApiClient.Models
@using CalculateFunding.Frontend.ApiClient.Models.Results
@model CalculateFunding.Frontend.Pages.Specs.IndexModel
@{
    ViewData["Title"] = "Create a specification";
}
<!-- Breadcrumbs -->
<div class="row">
    <div class="col-xs-12">
        <div class="breadcrumbs">
            <ol>
                <li><a href="/">Home</a></li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-8">
        <h1 class="heading-xlarge">Specifications</h1>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc feugiat orci et felis cursus tincidunt. Aenean cursus lobortis iaculis. Donec sed sollicitudin lorem, eget sodales orci. Nunc quis maximus mi. Mauris nec mauris laoreet augue luctus vestibulum. Morbi rhoncus tempus libero in lobortis. Integer a erat nec ante venenatis euismod sit amet sit amet lorem.</p>
        <form class="year-form" method="get">
            <div class="form-group">
                <label class="form-label" for="select-box">Select year:</label>
                <select class="form-control" id="select-box" name="select-box">
                    <option>2017/2018</option>
                    <option>2016/2017</option>
                    <option>2015/2016</option>
                </select>
            </div>
        </form>
    </div>
    @*end of col-xs-8*@
</div>
@*end of row*@
<div class="row">
    <div class="col-xs-12 col-md-12">
        <p>                
            <a href="/specs/specification" class="button">Add specification</a>
        </p>
        <div class="panel-group wrap esfa-collapse" id="esfa-list">
            <div class="funding-streams">

                <button class="accordion-toggle">Open all</button>
                @foreach (var specification in Model.Specifications)
                {
                    <div class="panel">
                        <div class="panel-heading" tabindex="0">
                            <h2 class="panel-title stream-title">
                                @specification.Name
                            </h2>
                            <p>@specification.Description</p>
                         </div>
                        <div class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="panel">
                                    <ul class="list-group">
                                        @foreach (var policy in specification.Policies)
                                        {
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div cass="inner-header ">
                                                            <h2 class="heading-medium list-title summary">
                                                                @policy.Name
                                                            </h2>
                                                            <p>@policy.Description</p>

                                                            <div class="details collapse panel">
                                                                @foreach (var subPolicy in policy.SubPolicies ?? new List<PolicySpecification>())
                                                                {
                                                                    <h3 class="heading-small">
                                                                        @subPolicy.Name
                                                                    </h3>
                                                                    <p>@subPolicy.Description</p>
                                                                    <table class="table  table-condensed">
                                                                        @foreach (var calculationSpecification in subPolicy.Calculations)
                                                                        {
                                                                            <tr>
                                                                                <th scope="row">@calculationSpecification.Name</th>
                                                                                <td>@calculationSpecification.Description</td>   
                                                                            </tr>

                                                                        }
                                                                    </table>
                                                                    <p>                
                                                                        <a href="/specs/product" class="button">Add calculation</a>
                                                                        <a href="/specs/policy" class="button">Add sub policy</a>
                                                                    </p>

                                                                }
                                                              
                                                                

                                                            </div>
                                                            @*end of panel.panel-border-narrow*@
                                                        </div>
                                                    </div>
                                                    @*end of col-xs-12*@
                                                </div>
                                                @*end of row*@
                                            </li>
                                        }

                                    </ul>

                                    <p>               
                                        <a href="/specs/policy" class="button">Add funding policy</a>
                                    </p>
                                </div>
                                @*end of panel inside panel-body*@
                            </div>
                            @*end of panel-body*@
                        </div>
                        @*end of panel-collapse*@
                    </div>
                    @*end of panel*@
                }
                @*end of foreach*@
            </div>
        </div>
        @*end of #esfa-collapse*@
    </div>
    @*end of .col-xs-12*@
</div>
@*end of .row*@
