@page "{academicYearId?}"
@using CalculateFunding.Frontend
@using CalculateFunding.Frontend.ApiClient.Models
@using CalculateFunding.Frontend.ApiClient.Models.Results
@model CalculateFunding.Frontend.Pages.Specs.IndexModel
@{
    ViewData["Title"] = "Manage specification";
}
@section BreadCrumb{

    <div class="breadcrumbs">
        <ol>
            <li><a href="/">Calculate Funding</a></li>
            <li>Manage Specification</li>
        </ol>
    </div>
}
@section BannerLeft{
    <!-- Breadcrumbs -->
    <h1 class="heading-large">Manage specification</h1>
    <p>Use this service to:</p>
    <ul class="banner-container-list">
        <li>Explore funding streams, policy areas and allocation lines</li>
        <li>Create product specification</li>
        <li>Create policy</li>
    </ul>
}

<div class="row">
    <div class="col-xs-9">
        <form class="form-inline" method="get" role="form">
            <div class="form-group">
                <label class="form-label" for="select-box">Select year:</label>
                <select asp-items="@(Model.Years)" class="form-control" id="select-spec-year" name="academicYearId"></select>
                <input id="btn-select-year" type="submit" class="button button-in-line" value="Go" />
            </div>
        </form>
        <hr />

        <p>Create specification or select one from the list below</p>


    </div>
    @*end of col-xs-9*@
</div>

@*end of row*@
<div class="row">
    <div class="col-xs-9 col-md-9">
        <p>
            <a href="/specs/specification" class="button">Create Specification</a>
        </p>
        <div class="panel-group wrap esfa-collapse" id="esfa-list">
            <div class="funding-streams">

                <button class="accordion-toggle">Open all</button>
                @if (Model.Specifications != null)
                {
                    foreach (var specification in Model.Specifications)
                    {
                        <div class="panel">
                            <div class="panel-heading" tabindex="0">
                                <h2 class="panel-title stream-title">
                                    @specification.Name
                                </h2>
                                <p>@specification.Description</p>
                            </div>
                            <div class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="panel">
                                        <ul class="list-group">
                                            @foreach (var policy in specification.Policies)
                                            {
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div cass="inner-header ">
                                                                <h2 class="heading-medium list-title summary">
                                                                    @policy.Name
                                                                </h2>
                                                                <p>@policy.Description</p>

                                                                <div class="details collapse panel">
                                                                    @foreach (var subPolicy in policy.SubPolicies ?? new List<PolicySpecification>())
                                                                    {
                                                                        <h3 class="heading-small">
                                                                            @subPolicy.Name
                                                                        </h3>
                                                                        <p>@subPolicy.Description</p>
                                                                        <table class="table  table-condensed">
                                                                            @foreach (var calculationSpecification in subPolicy.Calculations)
                                                                            {
                                                                                <tr>
                                                                                    <th scope="row">@calculationSpecification.Name</th>
                                                                                    <td>@calculationSpecification.Description</td>
                                                                                </tr>

                                                                            }
                                                                        </table>
                                                                        <p>
                                                                            <a href="/specs/product" class="button">Add calculation</a>
                                                                            <a href="/specs/policy" class="button">Add sub policy</a>
                                                                        </p>

                                                                    }



                                                                </div>
                                                                @*end of panel.panel-border-narrow*@
                                                            </div>
                                                        </div>
                                                        @*end of col-xs-12*@
                                                    </div>
                                                    @*end of row*@
                                                </li>
                                            }

                                        </ul>

                                        <p>
                                            <a href="/specs/policy" class="button">Add funding policy</a>
                                        </p>
                                    </div>
                                    @*end of panel inside panel-body*@
                                </div>
                                @*end of panel-body*@
                            </div>
                            @*end of panel-collapse*@
                        </div>
                        @*end of panel*@
                    }
                }
                else
                {
                    <div>No specifications found</div>

                }

                @*end of foreach*@
            </div>
        </div>
        @*end of #esfa-collapse*@
    </div>
    @*end of .col-xs-12*@
</div>
@*end of .row*@
