@page "{specificationId}"
@model CalculateFunding.Frontend.Pages.Specs.PoliciesModel
@using CalculateFunding.Frontend.Properties
@using CalculateFunding.Frontend.ViewModels.Specs
@{
    ViewData["Title"] = "Policies";
}

@section NavBar {
    <partial name="_NavbarPartial" />
}

@section BreadCrumb{

    <div class="breadcrumbs">
        <ol>
            <li><a href="/">@BreadcrumbText.CalculateFunding</a></li>
            <li><a href="/specs">@BreadcrumbText.Specifications</a></li>
            <li>@Model.Specification.Name</li>
        </ol>
    </div>
}

@section BannerWholeBlue {
    <partial name="_SpecificationFullHeaderPartial" model="Model.Specification" />
}

@if (Model.PageBanner != null)
{
    <partial name="_PageBannerOperationPartial" model="Model.PageBanner" />
}

<div class="edit-policy-container">
    <div class="row">
        <div class="col-xs-12 policy-spec-what ">
            <p class="withjs-hide">What is @Model.Specification.Name?</p>
            <div class="inline-collapse-container spacing-15-bottom">
                <div class="inline-collapse-heading withjs-show">
                    <i class="inline-collapse-arrow"></i>
                    <span>What is @Model.Specification.Name?</span>
                </div>
                <div class="inline-collapse-contents withjs-hide policy-spec-description">
                    @Model.Specification.Description.ReplaceLineBreaksForHtml()
                </div>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs nav-tabs-pagenavigation spacing-15-bottom" id="managePoliciesTabs" role="tablist">
        <li class="nav-item active">
            <a id="nav-policy-tab" href="#" role="tab" aria-selected="true">Funding line structure</a>
        </li>
        <li class="nav-item">
            <a id="nav-policy-tab" href="/calcs/additionalcalculations/@Model.Specification.Id" role="tab" aria-selected="true">Additional calculations</a>
        </li>
        <li class="nav-item">
            <a id="nav-dataset-tab" href="/datasets/listdatasetschemas/@Model.Specification.Id" role="tab" aria-selected="false">
                <span class="provider-datasets-warning-tab">
                    <span>Datasets</span>
                    @if (!Model.HasProviderDatasetsAssigned)
                    {
                        <i class="material-icons icon-not-HasProviderDatasetsAssigned">warning</i>
                    }
                </span>
            </a>
        </li>
        <li class="nav-item-right" id="approve-status">
            <approve-status-button params="publishStatus : '@Model.Specification.PublishStatus', stateChangeUrl : '/api/specs/@Model.Specification.Id/status', canApprove : canApproveSpec"></approve-status-button>
        </li>
    </ul>
    <div class="row">
        <div class="col-xs-12">
            <table class="cf" id="calculations-table">
                <thead>
                    <tr>
                        <th id="calculation-header-column">Name</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Last Edited</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CalculationViewModel calculation in Model.Specification.Calculations)
                    {
                        <tr>

                            <td>
                                <div class="calculation-name-holder">
                                    <span class="button-split-container">
                                        <span class="button-split-icon">
                                            <a href="/specs/EditCalculation/@calculation.Id?specificationId=@Model.Specification.Id" class="data-calculation-editlink-icon"><i class="material-icons">edit</i></a>
                                        </span>
                                        <span class="button-split-text">
                                            <a href="/specs/EditCalculation/@calculation.Id?specificationId=@Model.Specification.Id" class="data-calculation-editlink"><span class="data-calculation-name">@calculation.Name</span></a>
                                        </span>
                                    </span>
                                </div>
                            </td>
                            <td class="data-calculation-description-firstline first-line-only">@calculation.DescriptionFirstLine</td>
                            <td class="data-calculation-type">@calculation.CalculationType</td>
                            <td class="text-nowrap data-calculation-lastupdated">
                                <span class="datetime-split-container">
                                    <span class="datetime-split-date data-calculation-lastupdated-date">@calculation.LastUpdatedDateFormatted</span>
                                    <span class="datetime-split-time data-calculation-lastupdated-time">@calculation.LastUpdatedTimeFormatted</span>
                                </span>
                            </td>
                            <td class="expander-trigger-cell" data-multi-row-header="calcs-for-@calculation.Id"><i class="material-icons">keyboard_arrow_down</i></td>
                        </tr>

                        <tr class="cr-table-primary-highlight expander-container">
                            <td colspan="5" class="">
                                @calculation.Description.ReplaceLineBreaksForHtml()
                                <a class="display-block view-calculation-code-link" href="/api/specs/redirectToCalc/@calculation.Id">View calculation code</a>
                            </td>
                        </tr>


                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" asp-src-include="~/js/table.expander.js" asp-append-version="true"></script>
    <script asp-src-include="~/assets/libs/js/knockout-latest.js" asp-append-version="true" type="text/javascript"></script>
    <partial name="_ApproveStatusButtonPartial" />

    <script type="text/javascript">
        $(".withjs-collapse-closedbydefault").addClass("collapse").removeClass("withjs-collapse-closedbydefault");

        $(".jscollapse-header").addClass("jscollapse-jsenabled-header");
        $(".jscollapse-active").addClass("jscollapse-jsenabled-active");

        var viewModel = function (){
            canApproveSpec = ko.observable(@Model.DoesUserHavePermissionToApprove);
        };

        ko.applyBindings(viewModel, document.getElementById('approve-status'));
    </script>

}