@page "{specificationId}"
@model CalculateFunding.Frontend.Pages.Specs.PoliciesModel
@using CalculateFunding.Frontend.Properties
@{
    ViewData["Title"] = "Policies";
}

@section BreadCrumb{

    <div class="breadcrumbs">
        <ol>
            <li><a href="/">@BreadcrumbText.CalculateFunding</a></li>
            <li><a href="/specs?fundingPeriodId=@Model.Specification.FundingPeriod.Id#spec-@Model.Specification.Id">@Model.Specification.FundingPeriod.Name</a></li>
            <li>@BreadcrumbText.ManagePolicies</li>
        </ol>
    </div>
}
@section BannerLeft{
    <h1 class="hero-title"> @Model.Specification.Name </h1>
    <p class="hero-description ">@PageText.ManagePolicies</p>
    <p class="hero-description">Funding Period: @Model.Specification.FundingPeriod.Name</p>
    <p class="hero-text">@PageText.ManagePoliciesHeadingText</p>
}

<div class="row manage-policy">

    <div class="col-xs-12 col-sm-9">
        <div class="row view-policy">
            <p><strong class="policy-create-text">Create a policy for @Model.Specification.Name:</strong></p>
            <p class="policy-spec-what withjs-hide">What is @Model.Specification.Name?</p>
            <div class="inline-collapse-container spacing-15-bottom">
                <div class="inline-collapse-heading withjs-show">
                    <i class="inline-collapse-arrow"></i>
                    <span>What is @Model.Specification.Name?</span>
                </div>
                <div class="inline-collapse-contents withjs-hide policy-spec-description">
                    @Model.Specification.Description
                </div>
            </div>
            @if (Model.ShowSuccessMessage)
            {
                <div class="alert alert--success">
                    <span>@Model.PolicyType has been updated successfully</span> <a id="dismiss-link" class="float-right" href="~/specs/policies/@Model.Specification.Id">Dismiss</a>
                </div>
            }

            <ul class="nav nav-tabs nav-tabs-pagenavigation spacing-15-bottom" id="managePoliciesTabs" role="tablist">
                <li class="nav-item active">
                    <a id="nav-policy-tab" href="#" role="tab" aria-selected="true">View policies</a>
                </li>
                <li class="nav-item">
                    <a id="nav-dataset-tab" href="/datasets/listdatasetschemas/@Model.Specification.Id" role="tab" aria-selected="false">
                        <span class="provider-datasets-warning-tab">
                            <span>Datasets</span>
                            @if (!Model.HasProviderDatasetsAssigned)
                            {
                                <i class="material-icons icon-not-HasProviderDatasetsAssigned">warning</i>
                            }
                        </span>
                    </a>
                </li>
            </ul>
            <br />
            <div>

                <p class="create-policy-button-container"><a href="/specs/createpolicy/@Model.Specification.Id" class="button">Create policy</a></p>
                @if (!Model.Specification.Policies.IsNullOrEmpty())
                {
                    <p class="text-right">
                        <a href="#" class="policy-list-openall withjs-show">Open All</a>
                    </p>
                }
                <div class="policy-list">
                    @if (!Model.Specification.Policies.IsNullOrEmpty())
                    {
                        @foreach (var policy in Model.Specification.Policies)
                        {
                            <div class="jscollapse-container policy-list-item">
                                <div class="policy-list-header jscollapse-header">
                                    <a href="/specs/editPolicy/@Model.Specification.Id/@policy.Id" class="policy-list-edit-link">Edit policy</a>
                                    <h2 class="policy-list-title-container collapse-title jscollapse-active">
                                        <a name="policy-@policy.Id"></a>
                                        <a class="policy-title" href="/calculations/@policy.Id">@policy.Name</a>
                                    </h2>
                                </div>
                                <div class="jscollapse-body">
                                    <p class="policy-description">
                                        @policy.Description
                                    </p>

                                    @if (policy.Calculations != null && policy.Calculations.Any())
                                    {
                                        <div class="calculation-container">
                                            <table class="calculation-table table table-bordered table-condensed">
                                                @foreach (var calculation in policy.Calculations)
                                                {
                                                    <tr>
                                                        <td class="calculation-name"><a name="calculation-@calculation.Id"></a><a href="/specs/EditCalculation/@calculation.Id?specificationId=@Model.Specification.Id" class="calculation-link">@calculation.Name</a></td>
                                                        <td class="claculation-description"><span class="calculation-description">@calculation.Description</span></td>
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                    }

                                    @if (policy.SubPolicies != null && policy.SubPolicies.Any())
                                    {
                                        @foreach (var subPolicy in policy.SubPolicies)
                                        {
                                            <div class="subpolicy-container jscollapse-container">
                                                <div class="subpolicy-list-header jscollapse-header">

                                                    <a href="/specs/editsubPolicy/@Model.Specification.Id/@subPolicy.Id/@policy.Id" class="policy-list-edit-link">Edit sub policy</a>
                                                    <h2 class="policy-list-title-container collapse-title jscollapse-active">
                                                        <a name="policy-@subPolicy.Id"></a>
                                                        <a class="policy-title" href="/specs/editsubpolicy/@subPolicy.Id">@subPolicy.Name</a>
                                                    </h2>

                                                </div>
                                                <div class="jscollapse-body">
                                                    <p class="subpolicy-description">
                                                        @subPolicy.Description
                                                    </p>

                                                    @if (subPolicy.Calculations != null && subPolicy.Calculations.Any())
                                                    {
                                                        <div class="calculation-container">
                                                            <table class="calculation-table table table-bordered table-condensed">
                                                                @foreach (var calculation in subPolicy.Calculations)
                                                                {
                                                                    <tr>
                                                                        <td class="calculation-name"><a name="calculation-@calculation.Id" /><a href="/specs/EditCalculation/@calculation.Id?specificationId=@Model.Specification.Id" class="calculation-link">@calculation.Name</a></td>
                                                                        <td class="claculation-description"><span class="calculation-description">@calculation.Description</span></td>
                                                                    </tr>
                                                                }
                                                            </table>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>
                            <a href="/specs/createPolicy/@Model.Specification.Id">No policies exists, create a policy</a>
                        </p>

                    }
                </div>

            </div>

        </div>
    </div>

    <div class="col-xs-12 col-sm-3">
        <div class="rightcolumn-container">
            <h2 class="rightcolumn-heading">@Model.Specification.Name Options</h2>
            <div>
                <a href="/specs/editspecification/@Model.Specification.Id">Edit specification</a>
            </div>
            <div>
                <a href="/specs/createPolicy/@Model.Specification.Id">Create policy</a>
            </div>
            @if (Model.Specification.Policies != null && Model.Specification.Policies.Any())
            {
                <div>
                    <a href="/specs/createSubPolicy/@Model.Specification.Id">Create sub policy</a>
                </div>
                <div>
                    <a href="/specs/createcalculation/@Model.Specification.Id">Create calculation specification</a>
                </div>
            }
            <div>
                <a href="/datasets/AssignDatasetSchema/@Model.Specification.Id">Create dataset</a>
            </div>
        </div>

    </div>

</div>


@section scripts{

    <script type="text/javascript">


        $(".withjs-collapse-closedbydefault").addClass("collapse").removeClass("withjs-collapse-closedbydefault");

        $(".jscollapse-header").addClass("jscollapse-jsenabled-header");
        $(".jscollapse-active").addClass("jscollapse-jsenabled-active");

        $(".policy-list-openall").on("click", function (e) {
            $(".jscollapse-container").find(".jscollapse-body").removeClass("hidden");
            $(".jscollapse-container").find(".jscollapse-header").children(".collapse-title").addClass("jscollapse-jsenabled-active");

            e.preventDefault();
        });

        $(".collapse-title").on("click", function (e, selector, data) {

            var $this = $(e.target);
            var setActive = !$this.hasClass("jscollapse-jsenabled-active");
            if (!setActive) {
                $this.removeClass("jscollapse-jsenabled-active");
            }
            else {
                $this.addClass("jscollapse-jsenabled-active");
            }

            var headerElement = $this.parent();
            if (headerElement.hasClass("jscollapse-header")) {

                var containerElement = headerElement.parent();
                if (containerElement.hasClass("jscollapse-container")) {
                    var bodyElement = containerElement.children(".jscollapse-body");
                    if (bodyElement) {
                        if (setActive) {
                            bodyElement.removeClass("hidden");
                        }
                        else {
                            bodyElement.addClass("hidden");
                        }

                    }
                }
            }
        });
    </script>

    <script type="text/javascript">
        $('#dismiss-link').on('click', function (e) {
            e.preventDefault();
            $('.alert').hide();
        });
    </script>
}