@page "{specificationId}"
@model CalculateFunding.Frontend.Pages.Specs.PoliciesModel
@using CalculateFunding.Frontend.Properties
@{
    ViewData["Title"] = "Policies";
}

@section BreadCrumb{

    <div class="breadcrumbs">
        <ol>
            <li><a href="/">@BreadcrumbText.CalculateFunding</a></li>
            <li><a href="/specs?academicYearId=@Model.Specification.AcademicYear.Id#spec-@Model.Specification.Id">@Model.Specification.AcademicYear.Name</a></li>
            <li>@BreadcrumbText.ManagePolicies</li>
        </ol>
    </div>
}
@section BannerLeft{
    <h1 class="hero-title">@PageText.ManagePolicies</h1>
    <p class="hero-description">For @Model.Specification.Name</p>
    <p class="hero-description">Year: @Model.Specification.AcademicYear.Name</p>
    <p class="hero-text">@PageText.ManagePoliciesHeadingText</p>
}



<div class="row">
    <div class="col-xs-9 col-md-9 manage-policy">
        <p><strong>Create a policy for @Model.Specification.Name:</strong></p>
        <p>What is @Model.Specification.Name?</p>
        <p>@Model.Specification.Description</p>
        <p><a href="/specs/createpolicy/@Model.Specification.Id" class="button">Create Policy</a></p>
        <p class="text-right">
            <a href="#" class="policy-list-openall withjs-show">Open All</a>
        </p>
        <div class="policy-list">
            @if (!Model.Specification.Policies.IsNullOrEmpty())
            {
                @foreach (var policy in Model.Specification.Policies)
                {
                    <div class="jscollapse-container policy-list-item">
                        <div class="policy-list-header jscollapse-header">
                            <a href="#" class="policy-list-edit-link">Edit</a>
                            <h2 class="policy-list-title-container collapse-title jscollapse-active">
                                <a name="policy-@policy.Id"></a>
                                <a href="/calculations/@policy.Id">@policy.Name</a>
                            </h2>
                        </div>
                        <div class="jscollapse-body">
                            <p class="policy-description">
                                @policy.Description
                            </p>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>
                    <a href="/specs/createPolicy/@Model.Specification.Id">No policies exists, create a policy</a>
                </p>

            }
        </div>
    </div>
</div>


@section scripts{

    <script type="text/javascript">
        $(".withjs-show").removeClass("withjs-show");


        $(".withjs-collapse-closedbydefault").addClass("collapse").removeClass("withjs-collapse-closedbydefault");

        $(".jscollapse-header").addClass("jscollapse-jsenabled-header");
        $(".jscollapse-active").addClass("jscollapse-jsenabled-active");

        $(".policy-list-openall").on("click", function (e) { 
            $(".jscollapse-container").find(".jscollapse-body").removeClass("hidden");
            $(".jscollapse-container").find(".jscollapse-header").children(".collapse-title").addClass("jscollapse-jsenabled-active");

            e.preventDefault();
        });

        
        $(".collapse-title").on("click", function (e, selector, data) {

            var $this = $(e.target);
            var setActive = !$this.hasClass("jscollapse-jsenabled-active");
            if (!setActive) {
                $this.removeClass("jscollapse-jsenabled-active");
            }
            else {
                $this.addClass("jscollapse-jsenabled-active");
            }

            var headerElement = $this.parent();
            if (headerElement.hasClass("jscollapse-header")) {

                var containerElement = headerElement.parent();
                if (containerElement.hasClass("jscollapse-container")) {
                    if (setActive) {
                        containerElement.find(".jscollapse-body").removeClass("hidden");
                    }
                    else {
                        containerElement.find(".jscollapse-body").addClass("hidden");
                    }
                }
            }
        });
    </script>
}