@page "{calculationId}"
@model CalculateFunding.Frontend.Pages.Calcs.DiffCalculationModel
@using CalculateFunding.Frontend.Properties
@using CalculateFunding.Frontend.Helpers
@using CalculateFunding.Frontend.ViewModels.Common
@{
    ViewData["Title"] = "Calculation comparision";
}

@section NavBar {
    <partial name="_NavbarPartial" />
}

@section breadcrumb{
    <div class="breadcrumbs">
        <ol>
            <li><a href="/">@BreadcrumbText.CalculateFunding</a></li>
            <li><a href="/specs">@BreadcrumbText.Specifications</a></li>
            <li><a href="/specs/fundinglinestructure/@Model.Specification.Id">@Model.Specification.Name</a></li>
            <li>
                @if (Model.Calculation.CalculationType == CalculationTypeViewModel.Additional)
                {
                    <a href="/calcs/editAdditionalCalculation/@Model.Calculation.Id">@Model.Calculation.Name</a>
                }
                @if (Model.Calculation.CalculationType == CalculationTypeViewModel.Template)
                {
                    <a href="/calcs/editTemplateCalculation/@Model.Calculation.Id">@Model.Calculation.Name</a>
                }
            </li>
            <li><a href="/calcs/compare/@Model.Calculation.Id">@BreadcrumbText.CalculationVersionHistory</a></li>
            <li>@BreadcrumbText.CompareCalcuationVersions</li>
        </ol>
    </div>
}

@section FormBannerLeft{
    <p class="hero-text-bold">Funding Period: @Model.CalculationFundingPeriodId</p>
    <h1 class="hero-title">@Model.Calculation.Name</h1>
}

@section FormBannerRight{

}

<form method="get" class="form diff-container" id="diff-container">

    <div class="row spacing-15">
        <div class="col-xs-12">
            <div class="diff-details-container">
                <div class="diff-left diff-details-panel">
                    <span>@Model.LeftCalculationDiffModel.Author?.Name</span>
                    <span>@Model.LeftCalculationDiffModel.Date.ToString(FormatStrings.DateTimeFormatString)</span>
                    <span class="diff-left-status">@Model.LeftCalculationDiffModel.Status</span>
                </div>
                <div class="diff-right diff-details-panel">
                    <span>@Model.RightCalculationDiffModel.Author?.Name</span>
                    <span>@Model.RightCalculationDiffModel.Date.ToString(FormatStrings.DateTimeFormatString) </span>
                    <span class="diff-right-status"> @Model.RightCalculationDiffModel.Status</span>
                </div>
            </div>
        </div>
    </div>

    <div class="monaco-editor-diff-container">
        <div data-bind="monacoDiff: {original: original, modified: modified, displayAsInline: displayAsInline}" class="monaco-editor-diff-editor" id="calculation-diff-viewer"></div>
    </div>

    <p><input type="checkbox" name="inLineCodeEditor" data-bind="checked: displayAsInline" value="true" id="inLineCodeEditor" /> <label for="inLineCodeEditor">Inline Code Viewer</label></p>
    <p><a href="/calcs/compare/@Model.Calculation.Id" id="back-link">Back</a></p>

</form>

@section Scripts{
    <script src="~/assets/libs/js/knockout-latest.js"></script>
    <script src="~/assets/libs/js/monaco/vs/loader.js"></script>
    <script src="~/js/bindingHandler.monacoDiff.js"></script>
    <script src="~/js/compare.js"></script>
    <script>
        var diffContainer = document.getElementById("diff-container");
        if (diffContainer) {
            var vm = new calculateFunding.compare.CompareViewModel();

            vm.original("@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(Model.LeftCalculationDiffModel.SourceCode))");
            vm.modified("@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(Model.RightCalculationDiffModel.SourceCode))");

            ko.applyBindings(vm, diffContainer);
        }
    </script>
}