@page "{pageNumber?}"
@model CalculateFunding.Frontend.Pages.Calcs.IndexPageModel
@{
    ViewData["Title"] = "Manage the Calculations";
    Layout = "~/Pages/_Layout.cshtml";
}

@section BannerLeft{
    <h1 class="hero-title">Manage the Calculations</h1>
    <div class="hero-text">Specify the calculation specifications that will distribute ESFA funding for an academic year</div>
    <form method="post" class="filter-container spacing-15">
        <div class="row">
            <div class="col-xs-9">
                <div class="input-group">
                    <input type="text" asp-for="SearchTerm" class="form-control" placeholder="Search calculations" />
                    <div class="input-group-addon"><input type="image" src="~/assets/images/icon-search.png" /></div>
                </div>
            </div>
        </div>
    </form>
}

@section BreadCrumb{
    <div class="breadcrumbs">
        <ol>
            <li><a href="/">Calculate Funding</a></li>
            <li>Manage the Calculations</li>
        </ol>
    </div>
}

<div class="row manage-calculations">
    <div class="col-xs-12">

        @if (Model.DraftSavedCalculation != null)
        {
            <div class="draft-saved-panel">
                <a href="/calcs?pageNumber=@Model.SearchResults.PagerState.CurrentPage" class="pull-right">Dismiss</a>
                @Model.DraftSavedCalculation.Name saved in DRAFT successfully.
            </div>
        }

        @if (Model.PublishedCalculation != null)
        {
            <div class="publish-notification-panel">
                <a href="/calc?pageNumber=@Model.SearchResults.PagerState.CurrentPage" class="pull-right">Dismiss</a>
                @Model.PublishedCalculation.Name published successfully.
            </div>
        }

        <div>
            <div class="pull-right paging-container">
                @if (Model.SearchResults.PagerState.PreviousPage.HasValue)
                {
                    <a href="/calcs?pageNumber=@Model.SearchResults.PagerState.PreviousPage.Value" class="paging-link">Previous</a>

                }

                @foreach (int pageNumber in Model.SearchResults.PagerState.Pages)
                {
                    if (pageNumber == Model.SearchResults.PagerState.CurrentPage)
                    {
                        <span class="paging-active-page">@pageNumber</span>
                    }
                    else
                    {
                        <a href="/calcs?pageNumber=@pageNumber" class="paging-link">@pageNumber</a>
                    }

                }

                @if (Model.SearchResults.PagerState.NextPage.HasValue)
                {
                    <a href="/calcs?pageNumber=@Model.SearchResults.PagerState.NextPage.Value" class="paging-link">Next</a>

                }
            </div>
            Showing @Model.SearchResults.StartItemNumber-@Model.SearchResults.EndItemNumber of <strong>@Model.SearchResults.TotalResults</strong> calculations

        </div>

        <table class="calculations-table table-striped">
            <thead>
                <tr>
                    <th>Calculation Name</th>
                    <th>Status</th>
                    <th>Spec name</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var calculation in Model.SearchResults.Calculations)
                {
                    <tr>
                        <td><a href="/calcs/editCalculation/@calculation.Id">@calculation.Name</a></td>
                        <td>@calculation.Status</td>
                        <td>@calculation.SpecificationName</td>
                        <td>@calculation.PeriodName</td>
                    </tr>

                }
            </tbody>

        </table>

    </div>
</div>