@page
@using CalculateFunding.Frontend.Clients.PreviewClient.Models
@using CalculateFunding.Frontend.Pages.Calcs
@model CalculateFunding.Frontend.Pages.Calcs.ProductModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/_Layout.cshtml";
}
<!-- Breadcrumbs -->
<div class="row">
    <div class="col-xs-12">
        <div class="breadcrumbs">
            <ol>
                <li><a href="/">Home</a></li>
                <li><a href="/Overview">Funding overview</a></li>
                <li><a href="/Products/Pupil%20Led%20Factors?budgetId=@Model.Budget.Id&allocationLineId=pupil-led-factors">Pupil Led Factors</a></li>
                <li><a href="/Products/Details?budgetId=@Model.Budget.Id&productId=@Model.Product.Id">@Model.Product.Name</a></li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-8">
        <h1 class="heading-xlarge">@Model.Product.Name specifications</h1>
        <p>Full year amount of basic entitlement for academies that have primary pupils calculated by multiplying primary pupils by the LA-determined rate, except for in-year openers funded on census, where the LA-calculated allocation is picked up from the New ISB sheet of the APT Agregation</p>
        <h2 class="heading-large">Edit calculation</h2>
    </div>
</div>
@*end of row*@
<div class="row">
    @*<div id="sidebar">
            <div class="col-xs-12 col-sm-4">
                @Html.Partial("_SpecMenu", Model.Budget)
            </div>
        </div>*@
    <div id="main">
        <div class="col-xs-12 col-sm-8">
            <form id="calculation-engine" method="post">
                <div class="form-group">
                    <div class="editor" id="calculation" name="calculation">@Model.Product.Calculation.SourceCode</div>
                    <input id="calculation" name="calculation" type="hidden"></input>
                </div>
                @if (Model.Preview != null)
            {
                if (Model.Preview.CompilerOutput.Success)
                {

                        <button type="submit" class="button">Build</button>
                        <button type="submit" class="button">Save</button>
                        <h3 class="heading-medium text-success">Compilation succeeded !</h3>
                    }
                    else
                    {
                        <button type="submit" class="button">Build</button>
                        <button type="submit" class="button">Save</button>
                        <h3 class="heading-medium error-message">Compilation failed !</h3>
                    }
                    <table class="table table-condensed">
                        @foreach (var diagostic in Model?.Preview?.CompilerOutput?.CompilerMessages.Where(x => x.Severity != Severity.Hidden))
                        {
                            <tr>
                                <td>@diagostic.Severity</td>
                                <td>@diagostic.Message</td>
                            </tr>
                        }
                    </table>
                    <div class="row">
                        <div class="col-xs-12 col-md-8">
                            <h2 class="heading-large">Test Results</h2>
                        </div>
                        <div class="col-xs-12">
                            <div class="panel-group wrap esfa-collapse" id="esfa-list">
                                @foreach (var tr in Model.Preview.TestResults)
                                {
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h2 class="panel-title provider-title">
                                                @tr.Provider.Name
                                            </h2>
                                        </div>
                                        <div class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="panel panel-border-narrow">
                                                    <div class="provider-stats">
                                                        <ul class="list-inline">
                                                            <li>
                                                                <dl>
                                                                    <dt>LA Name:</dt>
                                                                    <dd>Slough</dd>
                                                                </dl>
                                                            </li>
                                                            <li>
                                                                <dl>
                                                                    <dt>LAESTAB:</dt>
                                                                    <dd>8713363</dd>
                                                                </dl>
                                                            </li>
                                                            <li>
                                                                <dl>
                                                                    <dt>UPIN:</dt>
                                                                    <dd>134673</dd>
                                                                </dl>
                                                            </li>
                                                            <li>
                                                                <dl>
                                                                    <dt>UKPRN:</dt>
                                                                    <dd>10061983</dd>
                                                                </dl>
                                                            </li>
                                                            <li>
                                                                <dl>
                                                                    <dt>URN:</dt>
                                                                    <dd>143802</dd>
                                                                </dl>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <ul class="list-group">
                                                        @foreach (var scenarioResult in tr.ScenarioResults.GroupBy(x => x.Product.Name))
                                                        {
                                                            <li class="list-group-item">
                                                                <h3 class="heading-medium list-title">
                                                                    @scenarioResult.Key
                                                                    <span class="product-value">@scenarioResult.First().ProductValue.ToString()</span>
                                                                </h3>
                                                                @foreach (var scenario in scenarioResult)
                                                                {
                                                                    <p>@scenario.Scenario?.Name @scenario.TestResult</p>
                                                                }
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    @*end of esfa-collapse*@
                }
            </form>

            @*<div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" id="name" value="@Model.Product.Name">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea  class="form-control" id="description" rows="5">@Model.Product.Description</textarea>
                </div>
                <button type="submit" class="btn btn-default">Save</button>
                        @foreach (var testScenario in Model.Product.TestScenarios)
                        {
                            <h2>@testScenario.Name</h2>

                            if (testScenario.GivenSteps != null && testScenario.GivenSteps.Any())
                            {
                                <h3 class="heading-medium">Given</h3>
                                @Html.Partial("_TestStep", testScenario.GivenSteps.First())
                                foreach (var givenStep in testScenario.GivenSteps.Skip(1))
                                {
                                    <h3 class="heading-medium">And</h3>
                                    @Html.Partial("_TestStep", givenStep)
                                }
                            }

                            if (testScenario.ThenSteps.Any())
                            {
                                <h6>Then</h6>
                                @Html.Partial("_TestStep", testScenario.ThenSteps.First())
                                foreach (var thenStep in testScenario.ThenSteps.Skip(1))
                                {
                                    <h3 class="heading-medium">And</h3>
                                    @Html.Partial("_TestStep", thenStep)
                                }
                            }
                        }*@

            @*<div class="form-group">
                    <label for="description">Test Providers</label>
                    @if (Model.Product.TestProviders != null)
                    {
                        foreach (var testProvider in Model.Product.TestProviders)
                        {
                            <p>@testProvider.Name</p>
                        }
                    }
                </div>*@

        </div>
    </div>
</div><!-- end of .row -->
