@page
@model CalculateFunding.Frontend.Pages.Scenarios.IndexModel
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv
@using CalculateFunding.Frontend.Helpers
@using CalculateFunding.Frontend.ViewModels.Common
@using CalculateFunding.Frontend.Properties

@{
    ViewData["Title"] = "Manage Test";
}

@section NavBar {
    <partial name="_NavbarPartial" />
}

@section BreadCrumb{
    <div class="breadcrumbs">
        <ol>
            <li><a href="/">@BreadcrumbText.CalculateFunding</a></li>
            <li>@BreadcrumbText.QualityAssuranceTests</li>
        </ol>
    </div>
}

@section BannerLeft{
    <h1 class="hero-title">Quality assurance tests</h1>
}

@section BannerMiddle{
    <form method="post" action="scenarios/scenarios-search" class="filter-container spacing-15" id="filter-container" data-bind="submit: performSearch" asp-antiforgery="true">
        <div class="row">
            <div class="col-xs-9 filter-field-heading"></div>
            <div class="col-xs-3 filter-field-heading withjs-show"></div>
        </div>
        <div class="row">
            <div class="col-xs-9">
                <div class="input-group">
                    <input type="text" asp-for="SearchTerm" class="form-control" placeholder="Search tests" data-bind="textInput: searchTerm, enable: canSelectFilters" />
                    <div class="input-group-addon"><input id="filter-search-button-image" type="image" src="~/assets/images/icon-search.png" data-bind="enable: canPerformSearch" /></div>
                </div>
            </div>
            <div class="col-xs-3">
                <a href="/scenarios/createtestscenario/@Model.FundingPeriodId" class="btn btn-filter-link-button" id="createQATestButton">Create QA test</a>
            </div>
        </div>
        <div class="row withjs-show" data-bind="visible: searchPerformed">
            <div class="col-xs-12 spacing-30-top spacing-15-bottom filter-field-text"></div>
        </div>
    </form>
}

<div class="row manage-tests" id="manage-tests-container">
    <partial name="_SearchErrorPartial" />
    <div class="col-xs-12">
        <div data-bind="visible: isResultsVisible">
            <partial name="_SearchPagerPartial" model='new PagerPartialViewModel(Model.ScenarioResults, "QA tests", Model.SearchTerm)' />
        </div>

        <div class="test-scenario-searchresult-container spacing-30" data-bind="visible: !searchPerformed()">
            @{
                int ScenariosRow = 0;
            }
            @foreach (var testScenario in Model.ScenarioResults.Scenarios)
            {

                <div class="test-scenario-item-container" id="test-scenario-item-result-@ScenariosRow">
                    <div class="test-scenario-item-header">
                        <a href="/scenarios/edittestscenario/@testScenario.Id" id="specification-link-@ScenariosRow" class="data-static-name"> @testScenario.Name</a>
                    </div>
                    <div class="test-scenario-item-sub-header">
                        <span class="test-scenario-item-sub-header data-static-description" id="test-scenario-item-property-Description-@ScenariosRow">@testScenario.Description</span>
                    </div>
                    <div class="test-scenario-item-property-container">
                        <span class="test-scenario-item-property test-scenario-item-property-updated-on">
                            Last edited:
                            <strong>
                                <span id="test-item-lastupdated-@ScenariosRow" class="data-static-lastUpdated">
                                    @testScenario.LastUpdatedDate.ToString(FormatStrings.DateTimeFormatString)
                                </span>
                            </strong>
                        </span>
                        <span class="test-scenario-item-property test-scenario-item-property-specification">
                            Specification:
                            <strong>
                                <span class="test-scenario-item-property data-static-specificationName" id="test-scenario-item-specification-@ScenariosRow">@testScenario.SpecificationName</span>
                            </strong>
                        </span>
                    </div>
                </div>
                ScenariosRow++;
            }
        </div>
        <div class="withjs-show test-scenario-searchresult-container test-scenario-searchresult-dynamic-container">
            <div data-bind="foreach: testScenarios">
                <div class="test-scenario-item-container data-dynamic-scenarioContainer" data-bind="attr: {id : 'data-dynamic-scenarioContainer-' + $index()}">
                    <div class="test-scenario-item-header">
                        <a data-bind="text: name, attr: { 'href': '/scenarios/edittestscenario/' + id, 'id': 'specification-link-dynamic-' + $index()}"></a>
                    </div>
                    <div class="test-scenario-item-sub-header">
                        <span class="data-dynamic-description" data-bind="text: description"></span>
                    </div>
                    <div class="test-scenario-item-property-container">
                        <span class="test-scenario-item-property-lastUpdatedDate">
                            Last edited:
                            <strong>
                                <span class="test-scenario-item-property data-dynamic-lastUpdatedDate" data-bind="text: lastUpdatedDateDisplay"></span>
                            </strong>
                        </span>
                        <span class="test-scenario-item-property test-scenario-item-property-specification">
                            Specification:
                            <strong>
                                <span class="test-scenario-item-property data-dynamic-specificationName" data-bind="text: specificationName"></span>
                            </strong>
                        </span>
                    </div>
                </div>
            </div>

        </div>

        <div class="withjs-show search-loading-container" data-bind="visible: isLoading">
            <img src="~/assets/images/loader.gif" alt="Loading" />
            <p>Loading more QA tests</p>
        </div>
    </div>

</div>

@section scripts{
    <script asp-src-include="~/assets/libs/js/knockout-latest.js" asp-append-version="true" type="text/javascript"></script>
    <script asp-src-include="~/js/search.js" asp-append-version="true" type="text/javascript"></script>
    <script asp-src-include="~/js/search.scenarios.js" asp-append-version="true" type="text/javascript"></script>
    <script type="text/javascript">
        var vm = new calculateFunding.listTestScenarios.ScenariosSearchViewModel();

        var filterElement = document.getElementById("filter-container");
        if (filterElement) {
            ko.applyBindings(vm, filterElement);
        }

        var scenarioContainer = document.getElementById("manage-tests-container");
        if (scenarioContainer) {
            ko.applyBindings(vm, scenarioContainer);

        }
        vm.performSearch();
    </script>

    <script type="text/javascript">
        $("#search-button").hide();
        $('select').change(function () {
            if ($(this).attr('id') == "PeriodId") {
                $("#SpecificationId").val('');
            }
            $("#search-button").click();
        });
    </script>

}

@section styles{
    <link rel="stylesheet" asp-href-include="~/assets/libs/css/bootstrap-multiselect.css" asp-append-version="true" />
}










