@page "{id}"
@using System.Linq;
@using CalculateFunding.Web.Pages.Budgets.Results.Providers
@model CalculateFunding.Web.Pages.Budgets.Results.Providers.IndexModel
@{
    ViewData["Title"] = "Providers";
    Layout = "~/Pages/_Layout.cshtml";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<!-- Breadcrumbs -->
<div class="row">
    <div class="col-xs-12">
        <div class="breadcrumbs">
            <ol>
                <li><a href="/">Home</a></li>
                <li><a href="/Overview">Funding overview</a></li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-8">
        <h1 class="heading-xlarge">Providers failing tests</h1>
    </div>
</div>
<div class="row">
    <div id="sidebar">
        <div class="col-md-4">
            <div class="panel-group wrap esfa-collapse" id="esfa-filter">
                <form class="filter-form" method="get">
                    <div class="panel search-panel">
                        <div class="panel-heading no-collapse">
                            <fieldset>
                                <label class="form-label" for="esfa-filter-search">Search</label>
                                <input class="form-control" id="esfa-filter-search" type="text" name="esfa-filter-search" data-search>
                            </fieldset>
                        </div>
                    </div>
                    <!-- end of panel -->
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="heading-medium panel-title">
                                Local Authority
                            </h3>
                        </div>
                        <div class="panel-no-collapse">
                            <div class="panel-body">
                                <fieldset>
                                    <div class="multiple-choice">
                                        <input id="pass-test" name="esfa-filter-status" type="checkbox" value="northumberland">
                                        <label for="pass-test">Northumberland (@Model.Providers.Count)</label>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <!-- end of panel -->
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="heading-medium panel-title">
                                Datasets
                            </h3>
                        </div>
                        <div class="panel-no-collapse">
                            <div class="panel-body scroll-body">
                                <fieldset>
                                    @foreach (var name in Model.DatasetNames.OrderByDescending(x => x.Value.Count()))
                                    {
                                        <div class="multiple-choice">
                                            <input id="pass-test" name="esfa-filter-status" type="checkbox" value="@name.Key.Replace(' ', '-')">
                                            <label for="pass-test">@name.Key (@name.Value.Count())</label>
                                        </div>
                                    }
                                </fieldset>

                            </div>
                        </div>
                    </div>
                    <!-- end of panel -->
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="heading-medium panel-title">
                                Dataset fields
                            </h3>
                        </div>
                        <div class="panel-no-collapse">
                            <div class="panel-body scroll-body">
                                <fieldset>
                                    @foreach (var name in Model.DatasetFieldNames.OrderByDescending(x => x.Value.Count()))
                                    {
                                        <div class="multiple-choice">
                                            <input id="pass-test" name="esfa-filter-status" type="checkbox" value="@name.Key.Replace(' ', '-')">
                                            <label for="pass-test">@name.Key (@name.Value.Count())</label>
                                        </div>
                                    }
                                </fieldset>

                            </div>
                        </div>
                    </div>
                    <!-- end of panel -->
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="heading-medium panel-title">
                                Dataset field values
                            </h3>
                        </div>
                        <div class="panel-no-collapse">
                            <div class="panel-body scroll-body">
                                <fieldset>
                                    @foreach (var name in Model.DatasetFieldValues.OrderByDescending(x => x.Value.Count()))
                                    {
                                        <div class="multiple-choice">
                                            <input id="pass-test" name="esfa-filter-status" type="checkbox" value="@name.Key?.Replace(' ', '-')">
                                            <label for="pass-test">@name.Key (@name.Value.Count())</label>
                                        </div>
                                    }
                                </fieldset>

                            </div>
                        </div>
                    </div>
                    <!-- end of panel -->
                </form>
            </div>
            <!-- end of #esfa-collapse  -->
        </div>
    </div>
    <div id="main">
        <div class="col-md-8">
            <div class="panel-group wrap esfa-collapse filtr-container" id="esfa-list">
            <button class="accordion-toggle">Open all</button>
                
                @foreach (var tr in Model.Providers)
                {
                    var categories = new List<string>();
                    var datasetRefs = tr.ScenarioResults.Where(x => x.DatasetReferences != null).SelectMany(x => x.DatasetReferences).Distinct().ToArray();
                    categories.AddRange(datasetRefs.Select(x => x.DatasetName.Replace(' ', '-')));
                    categories.AddRange(datasetRefs.Select(x => x.FieldName.Replace(' ', '-')));
                    categories.AddRange(datasetRefs.Select(x => x.Value?.Replace(' ', '-')));
                    <div class="panel filtr-item" data-id="P004_PriRate" data-filter-item data-filter-name="@tr.Provider.Name.ToLower()" data-category="northumberland @string.Join(' ', categories)">
                        <div class="panel-heading">
                            <h2 class="panel-title failing-provider-title">
                                <a href="/providers/details/@tr.Budget.Id?providerId=@tr.Provider.Id">
                                    @tr.Provider.Name
                                </a>
                            </h2>
                        </div>
                        <div class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="panel panel-border-narrow">
                                    <div class="provider-stats">
                                        <ul class="list-inline">
                                            <li>
                                                <dl>
                                                    <dt>LA Name:</dt>
                                                    <dd>Northumberland</dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl>
                                                    <dt>LAESTAB:</dt>
                                                    <dd>8713363</dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl>
                                                    <dt>UPIN:</dt>
                                                    <dd>134673</dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl>
                                                    <dt>UKPRN:</dt>
                                                    <dd>10061983</dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl>
                                                    <dt>URN:</dt>
                                                    <dd>143802</dd>
                                                </dl>
                                            </li>
                                        </ul>
                                    </div>

                                    <ul class="list-group">
                                        @foreach (var scenarioResult in tr.ScenarioResults.GroupBy(x => x.Product.Name))
                                        {
                                            <li class="list-group-item">
                                                <h3 class="heading-medium list-title">
                                                    @scenarioResult.Key
                                                    <span class="product-value">@scenarioResult.First().ProductValue.ToString()</span>
                                                </h3>
                                                @foreach (var scenario in scenarioResult)
                                                {
                                                    <p>@scenario.Scenario?.Name @scenario.TestResult</p>
                                                }
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- end of panel -->
                }
            </div>
            <!-- end of #esfa-collapse  -->
        </div>
    </div>
</div><!-- end of .row -->