@page
@using ApiClient.Models
@model Allocations.Web.Pages.Products.DetailsModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/_Layout.cshtml";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<!-- Breadcrumbs -->
<div class="row">
    <div class="col-xs-12">
        <div class="breadcrumbs">
            <ol>
                <li><a href="/">Home</a></li>
                <li><a href="/Overview">Funding overview</a></li>
                <li><a href="/Products/Pupil%20Led%20Factors?budgetId=@Model.Budget.Id&allocationLineId=pupil-led-factors">Pupil Led Factors</a></li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-8">
        <h1 class="heading-xlarge">@Model.Product.Name Summary</h1>
        <p>@Model.Product.Description</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-8">
        @{
            var routeEditCalulation =
                new Dictionary<string, string>
                {
                    {"id", Model.Budget.Id},
                    {"productId", Model.Product.Id }
                };
        }        
        <div class="editor read-only">@Model.Product.Calculation.SourceCode</div>
    </div>
    <div class="col-xs-12 col-sm-8 text-right">
        <p><a class="button" asp-page="/Specifications/Product" asp-all-route-data="routeEditCalulation" role="button">Edit calculation</a></p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id="editor">

        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id="editor">

        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-8">
        <h2 class="heading-large">Scenarios:</h2>
    </div>
    <div class="col-xs-12 col-md-8">
        <div class="panel-group wrap esfa-collapse" id="esfa-list">
            <div class="funding-streams">
                <button class="accordion-toggle">Open all</button>

                @foreach (var scenario in @Model.Product.TestScenarios)
                {
                    <div class="panel">
                        <div class="panel-heading">
                            <h2 class="heading-large panel-title scenario-title">
                                @scenario.Name
                            </h2>
                        </div>
                        <div class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="panel">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="row">                                                
                                                <div class="col-xs-12">
                                                    <div class="gherkin-scenario">
                                                        @if (scenario.GivenSteps != null)
                                                        {
                                                            foreach (var givenStep in scenario.GivenSteps)
                                                            {
                                                                <p>Given <span class="data-tag">@givenStep.Field</span> in <span class="data-tag">@givenStep.Dataset </span> is <span class="data-tag">@givenStep.Value</span></p>
                                                            }
                                                        }
                                                        @if (scenario.ThenSteps != null)
                                                        {
                                                            foreach (var thenStep in scenario.ThenSteps)
                                                            {
                                                                <br />
                                                                <p>Then <span class="data-tag">@thenStep.StepType</span> should be <span class="data-tag">@thenStep.Value</span></p>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="qa-failed-report">
                                                        <h3 class="heading-medium list-title summary"> Providers failing test</h3>
                                                        <div class="details collapse panel panel-border-narrow">
                                                        </div>
                                                    </div>
                                                </div>                                                
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="qa-passed-report">
                                                        <h3 class="heading-medium list-title summary"> Providers passed the test</h3>
                                                        <div class="details collapse panel panel-border-narrow">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="scenario-controls text-right">
                                                        <p>
                                                            <a class="button button-edit" href="#">Edit</a>
                                                            <a class="button button-error" href="#">Delete</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of panel -->
                }                
                <div class="panel">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            Non primary schools don't have primary subtotals
                        </h2>
                    </div>
                    <div class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="panel">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="gherkin-scenario">
                                                    <p>
                                                        Given <span class="data-tag">'Phase'</span> in <span class="data-tag">'APT Provider Information'</span> is not <span class="data-tag">'Primary'</span>
                                                        <br />
                                                        Then the result should be <span class="data-tag">'0.00'</span>
                                                    </p>
                                                </div>
                                                <div class="qa-failed-report">
                                                    <h3 class="heading-medium list-title summary">7 Providers failing test</h3>
                                                    <div class="details collapse details collapse panel panel-border-narrow">
                                                        <ul class="list-group">
                                                            <li class="list-group-item sublist-item">
                                                                <div class="provider-report">
                                                                    <h4 class="heading-small list-title summary">
                                                                        St. Ethelbert's Catholic Primary School
                                                                    </h4>
                                                                    <div class="details collapse provider-stats">
                                                                        <ul class="list-inline">
                                                                            <li>
                                                                                <dl>
                                                                                    <dt>LA Name:</dt>
                                                                                    <dd>Slough</dd>
                                                                                </dl>
                                                                            </li>
                                                                            <li>
                                                                                <dl>
                                                                                    <dt>LAESTAB:</dt>
                                                                                    <dd>8713363</dd>
                                                                                </dl>
                                                                            </li>
                                                                            <li>
                                                                                <dl>
                                                                                    <dt>UPIN:</dt>
                                                                                    <dd>134673</dd>
                                                                                </dl>
                                                                            </li>
                                                                            <li>
                                                                                <dl>
                                                                                    <dt>UKPRN:</dt>
                                                                                    <dd>10061983</dd>
                                                                                </dl>
                                                                            </li>
                                                                            <li>
                                                                                <dl>
                                                                                    <dt>URN:</dt>
                                                                                    <dd>143802</dd>
                                                                                </dl>
                                                                            </li>
                                                                        </ul>
                                                                        <table class="table">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th scope="col">Phase</th>
                                                                                    <th class="numeric" scope="col">PrimaryNOR</th>
                                                                                    <th class="numeric" scope="col">Rate</th>
                                                                                    <th class="numeric" scope="col">P005_PriB E Subtotal</th>

                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <th scope="row">Not applicable</th>
                                                                                    <td class="numeric">401</td>
                                                                                    <td class="numeric">3,156.24</td>
                                                                                    <td class="numeric">&pound;1,265,653.93</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="list-group-item sublist-item">
                                                                <div class="provider-report">
                                                                    <h4 class="heading-small list-title summary">
                                                                        Denmead Junior High School
                                                                    </h4>
                                                                    <div class="provider-stats">
                                                                        <ul class="list-inline">
                                                                            <li>
                                                                                <dl>
                                                                                    <dt>LA Name:</dt>
                                                                                    <dd>Slough</dd>
                                                                                </dl>
                                                                            </li>
                                                                            <li>
                                                                                <dl>
                                                                                    <dt>LAESTAB:</dt>
                                                                                    <dd>8713363</dd>
                                                                                </dl>
                                                                            </li>
                                                                            <li>
                                                                                <dl>
                                                                                    <dt>UPIN:</dt>
                                                                                    <dd>134673</dd>
                                                                                </dl>
                                                                            </li>
                                                                            <li>
                                                                                <dl>
                                                                                    <dt>UKPRN:</dt>
                                                                                    <dd>10061983</dd>
                                                                                </dl>
                                                                            </li>
                                                                            <li>
                                                                                <dl>
                                                                                    <dt>URN:</dt>
                                                                                    <dd>143802</dd>
                                                                                </dl>
                                                                            </li>
                                                                        </ul>
                                                                        <table class="table">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th scope="col">Phase</th>
                                                                                    <th class="numeric" scope="col">PrimaryNOR</th>
                                                                                    <th class="numeric" scope="col">Rate</th>
                                                                                    <th class="numeric" scope="col">P005_PriB E Subtotal</th>

                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <th scope="row">Not applicable</th>
                                                                                    <td class="numeric">401</td>
                                                                                    <td class="numeric">3,156.24</td>
                                                                                    <td class="numeric">&pound;1,265,653.93</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="qa-passed-report">
                                                    <h3 class="heading-medium list-title summary">137 Providers passed the test</h3>
                                                    <div class="details collapse panel panel-border-narrow">
                                                        <ul>
                                                            <li class="list-group-item sublist-item">
                                                                <div class="provider-stats">
                                                                    <div class="provider-report">
                                                                        <h4 class="heading-small list-title summary">
                                                                            Brune Park Community School
                                                                        </h4>
                                                                        <div class="provider-stats">
                                                                            <ul class="list-inline">
                                                                                <li>
                                                                                    <dl>
                                                                                        <dt>LA Name:</dt>
                                                                                        <dd>Slough</dd>
                                                                                    </dl>
                                                                                </li>
                                                                                <li>
                                                                                    <dl>
                                                                                        <dt>LAESTAB:</dt>
                                                                                        <dd>8713363</dd>
                                                                                    </dl>
                                                                                </li>
                                                                                <li>
                                                                                    <dl>
                                                                                        <dt>UPIN:</dt>
                                                                                        <dd>134673</dd>
                                                                                    </dl>
                                                                                </li>
                                                                                <li>
                                                                                    <dl>
                                                                                        <dt>UKPRN:</dt>
                                                                                        <dd>10061983</dd>
                                                                                    </dl>
                                                                                </li>
                                                                                <li>
                                                                                    <dl>
                                                                                        <dt>URN:</dt>
                                                                                        <dd>143802</dd>
                                                                                    </dl>
                                                                                </li>
                                                                            </ul>
                                                                            <table class="table">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th scope="col">Phase</th>
                                                                                        <th class="numeric" scope="col">PrimaryNOR</th>
                                                                                        <th class="numeric" scope="col">Rate</th>
                                                                                        <th class="numeric" scope="col">P005_PriB E Subtotal</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <th scope="row">Not applicable</th>
                                                                                        <td class="numeric">401</td>
                                                                                        <td class="numeric">3,156.24</td>
                                                                                        <td class="numeric">&pound;1,265,653.93</td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="list-group-item sublist-item">
                                                                <div class="provider-report">
                                                                    <h4 class="heading-small list-title summary">
                                                                        Widcombe CE Junior School, Bath
                                                                    </h4>
                                                                    <div class="provider-stats">
                                                                        <ul class="list-inline">
                                                                            <li>
                                                                                <dl>
                                                                                    <dt>LA Name:</dt>
                                                                                    <dd>Slough</dd>
                                                                                </dl>
                                                                            </li>
                                                                            <li>
                                                                                <dl>
                                                                                    <dt>LAESTAB:</dt>
                                                                                    <dd>8713363</dd>
                                                                                </dl>
                                                                            </li>
                                                                            <li>
                                                                                <dl>
                                                                                    <dt>UPIN:</dt>
                                                                                    <dd>134673</dd>
                                                                                </dl>
                                                                            </li>
                                                                            <li>
                                                                                <dl>
                                                                                    <dt>UKPRN:</dt>
                                                                                    <dd>10061983</dd>
                                                                                </dl>
                                                                            </li>
                                                                            <li>
                                                                                <dl>
                                                                                    <dt>URN:</dt>
                                                                                    <dd>143802</dd>
                                                                                </dl>
                                                                            </li>
                                                                        </ul>
                                                                        <table class="table">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th scope="col">Phase</th>
                                                                                    <th class="numeric" scope="col">PrimaryNOR</th>
                                                                                    <th class="numeric" scope="col">Rate</th>
                                                                                    <th class="numeric" scope="col">P005_PriB E Subtotal</th>

                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <th scope="row">Not applicable</th>
                                                                                    <td class="numeric">401</td>
                                                                                    <td class="numeric">3,156.24</td>
                                                                                    <td class="numeric">&pound;1,265,653.93</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of panel -->
            </div>

        </div>
        <!-- end of #esfa-collapse  -->
    </div>
    <!-- end of .col-xs-12  -->
    <div class="col-xs-12">
        @{
            var routeCreateScenario =
                new Dictionary<string, string>
                {
                        {"budgetId", Model.Budget.Id},
                        {"productId", @Model.Product.Id }
                };
        }
        <a class="button" asp-page="/Specifications/TestScenario" asp-all-route-data="routeCreateScenario" role="button">Add new scenario</a>
    </div>
</div>
@*<div class="row">
        @foreach (var testScenario in Model.Product.TestScenarios)
        {
            <h2>@testScenario.Name</h2>

            if (testScenario.GivenSteps.Any())
            {
                <h3 class="heading-medium">Given</h3>
                                    @Html.Partial("_TestStep", testScenario.GivenSteps.First())
                foreach (var givenStep in testScenario.GivenSteps.Skip(1))
                {
                    <h3 class="heading-medium">And</h3>
                                        @Html.Partial("_TestStep", givenStep)
                }
            }

            if (testScenario.ThenSteps.Any())
            {
                <h6>Then</h6>
                                    @Html.Partial("_TestStep", testScenario.ThenSteps.First())
                foreach (var thenStep in testScenario.ThenSteps.Skip(1))
                {
                    <h3 class="heading-medium">And</h3>
                                        @Html.Partial("_TestStep", thenStep)
                }
            }
        }
    </div>*@
