@page
@model CalculateFunding.Frontend.Pages.Approvals.ChoosePageModel
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv
@using Microsoft.AspNetCore.Hosting
@using CalculateFunding.Frontend.Extensions
@using CalculateFunding.Frontend.Properties
@{
    ViewData["Title"] = "Choose funding specification";
}

@section NavBar {
    <partial name="_NavbarPartial" />
}

@section BreadCrumb{
    <div class="breadcrumbs">
        <ol>
            <li><a href="~/">@BreadcrumbText.CalculateFunding</a></li>
            <li><a href="/approvals">@BreadcrumbText.FundingApprovals</a></li>
            <li>@BreadcrumbText.ChooseFundingSpecification</li>
        </ol>
    </div>
}

@section BannerLeft{
    <h1 class="hero-title">Choose funding specification</h1>
}

@section PermissionWarnings
        {
    <!-- ko if:!isSpecificationSelectedForThisFunding() && showSecurityBanner() -->
    <div class="row">
        <div class="col-xs-12 permission-warning-banner">
            <div class="permission-warning-inner">
                <p class="permission-warning-text"><i class="material-icons permission-warning-icon">warning</i>You may not be able to choose some of the specifiations listed</p>
            </div>
        </div>
    </div>
    <!-- /ko -->
}
<!-- ko if: pageBannerOperation() != undefined -->
<div class="notification-panel">
    <div data-bind="css: { 'notification-panel-firstline': pageBannerOperation().displayOperationActionSummary(), 'notification-panel-oneblock': !pageBannerOperation().displayOperationActionSummary() }">
        <span class="notification-panel-text">
            <i class="material-icons">check</i>
            <!-- ko if: pageBannerOperation().actionText() != "" && pageBannerOperation().actionUrl() != "" -->
            <a data-bind="attr:{href:pageBannerOperation().actionUrl()}, text:pageBannerOperation().entityName()"></a>
            <!-- /ko -->
            <!-- ko if: pageBannerOperation().actionText() == "" || pageBannerOperation().actionUrl() == "" -->
            <span data-bind="text:pageBannerOperation().entityName()"></span>
            <!-- /ko -->
            <!-- ko if: pageBannerOperation().entityType() != "" -->
            <span data-bind="text:pageBannerOperation().operationAction()"></span>
            <!-- /ko -->
        </span>
        <!-- ko if: pageBannerOperation().actionText() != "" && pageBannerOperation().secondaryActionUrl() != "" -->
        <a data-bind="attr:{href:pageBannerOperation().secondaryActionUrl()}, text:pageBannerOperation().actionText()"></a>
        <!-- /ko -->
        <!-- ko if: (pageBannerOperation().actionText() == "" || pageBannerOperation().secondaryActionUrl() == "") && pageBannerOperation().actionText() != "" && pageBannerOperation().actionUrl() != "" -->
        <a data-bind="attr:{href:pageBannerOperation().actionUrl()}, text:pageBannerOperation().actionText()"></a>
        <!-- /ko -->
    </div>

    <!-- ko if: pageBannerOperation().displayOperationActionSummary() -->
    <div class="notification-panel-summary">
        <span class="notification-panel-summary-text" data-bind="text:pageBannerOperation().operationActionSummaryText()"></span>
    </div>
    <!-- /ko -->
</div>
<!-- /ko -->

<partial name="_CheckLastJobStatusTemplatesPartial" />

<div class="choose-container">
    <form action="/approvals/choose" method="get">
        <div class="table-filter-container">
            <div class="row">
                <div class="col-md-4">
                    Funding stream

                </div>
                <div class="col-md-4 col-md-offset-1">
                    Funding period

                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <select data-bind="multiselect2: {nonSelectedText: 'Select funding stream', buttonWidth: '100%', disableIfEmpty: true}, options: fundingStreams, optionsText: 'name', optionsValue: 'id', selectedOptions: selectedFundingStreams" name="fundingStream" id="fundingStream" multiple>
                    </select>
                </div>
                <div class="col-md-4 col-xs-12 col-md-offset-1 funding-period">
                    <select data-bind="options: fundingPeriods, value:selectedFundingPeriod, optionsText: 'name', optionsCaption: 'Please select'" name="fundingPeriod" id="fundingPeriod">
                    </select>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary" id="nojs-submit-button" style="padding: 9px 12px;">Go</button>
                    <script type="text/javascript">document.getElementById("nojs-submit-button").style.display = "none";</script>
                </div>
            </div>
        </div>
    </form>
    <table class="cf">
        <thead>
            <tr>
                <th class="min-width-md">Specification</th>
                <th>Specification status</th>
                <th>Provider QA coverage</th>
                <th>QA tests passed</th>
                <th>Calculations approved</th>
                <th>
                    <!-- ko ifnot: isSpecificationSelectedForThisFunding -->Choose<!-- /ko -->
                    <!-- ko if: isSpecificationSelectedForThisFunding -->View funding<!-- /ko -->
                </th>
            </tr>
        </thead>
        <tbody data-bind="foreach: specifications">
            <tr>
                <td class="highlight-background"><span class="highlight-title" data-bind="text:name"></span></td>
                <td rowspan="2" class="text-center" data-bind="class:approvalStatusCssClass"><strong data-bind="text:approvalStatus"></strong></td>
                <td rowspan="2" class="text-center" data-bind="text:providerQaCoverage"></td>
                <td rowspan="2" class="text-center"><span data-bind="text:QaTestsPassed"></span>/<span data-bind="text:QaTestsTotal"></span></td>
                <td rowspan="2" class="text-center"><span data-bind="text:CalculationsApproved"></span>/<span data-bind="text:CalculationsTotal"></span></td>
                <td rowspan="2" class="text-center">
                    <!-- ko if: isSelectedForFunding -->
                    <a class="target-viewfunding" data-bind="attr:{href:'/app/viewfunding?specificationId=' + $data.id + '&fundingPeriodId=' + $root.selectedFundingPeriod().id}" href=""><i class="glyphicon glyphicon-eye-open"></i></a>
                    <!-- /ko -->
                    <!-- ko ifnot: isSelectedForFunding -->
                    <!-- ko if: canBeChosen && !$root.isSpecificationSelectedForThisFunding() -->
                    <a data-bind="click: function(){$root.checkLastJobStatus($data.id, '/approvals/confirm?specificationId=' + $data.id + '&fundingPeriodId=' + $root.selectedFundingPeriod().id)}" class="btn btn-choose target-choose">Choose</a>
                    <!-- /ko -->
                    <!-- ko ifnot: canBeChosen && !$root.isSpecificationSelectedForThisFunding() -->
                    <button class="btn btn-disabled btn-choose" href="#" disabled>Choose</button>
                    <!-- /ko -->
                    <!-- /ko -->
                </td>
            </tr>
            <tr>
                <td><div class="choose-funding-stream" data-bind="foreach:fundingStreams"><span data-bind="text:name"></span></div></td>
            </tr>
        </tbody>
    </table>

    <!-- ko if: specifications().length == 0 -->
    <div class="noresults-panel spacing-10">
        <span class="noresults-panel-text">
            <i class="material-icons">warning</i> <!-- ko if: selectedFundingStreams().length == 0 || selectedFundingPeriod() == undefined --> @PageText.ChooseFundingSpecWarningText <!-- /ko --> <!-- ko ifnot: selectedFundingStreams().length == 0 || selectedFundingPeriod() == undefined -->No approved specifications with funding found. Select a different funding stream or approve a specification for this funding stream.<!-- /ko -->
        </span>
    </div>
    <!-- /ko -->
</div>

@section scripts{

    <script type="text/javascript" asp-src-include="~/assets/libs/js/knockout-latest.js" asp-append-version="true"></script>
    @if (!hostingEnv.IsDevelopment())
    {
        <script asp-src-include="~/assetsjs/bootstrap-multiselect-*.js" asp-append-version="true" type="text/javascript"></script>
    }
    else
    {
        <script asp-src-include="~/assets/js/bootstrap-multiselect.js" asp-append-version="true" type="text/javascript"></script>
    }
    <script asp-src-include="~/js/bindingHandler.multiselect.js" asp-append-version="true" type="text/javascript"></script>
    <script asp-src-include="~/js/approvals.js" asp-append-version="true" type="text/javascript"></script>

    <script asp-src-include="~/js/approvals.chooseforfunding.js" asp-append-version="true" type="text/javascript"></script>

    <script asp-src-include="~/assets/libs/js/knockstrap.min.js" asp-append-version="true" type="text/javascript"></script>

    <script type="text/javascript">
        var settings = {
            "antiforgeryToken": "@this.HttpContext.GetAntiforgeryToken()",
            "fundingPeriodUrl": "/api/policy/fundingperiods",
            "fundingStreamsUrl": "/api/policy/fundingstreams",
            "specificationsUrl": "/api/specs/specification-summary-by-id/{specificationId}",
            "specificationsFilteredUrl": "/api/specs/specifications-by-fundingperiod-and-fundingstream-trimmed/{fundingPeriodId}/{fundingStreamId}",
            "calculationStatusCountUrl": "/api/calcs/status-counts",
            "testScenarioQueryUrl": "/api/tests/get-testscenario-result-counts-for-specifications"
        };

        var vfVM = new calculateFunding.approvals.ChooseFundingViewModel(settings);

        ko.applyBindings(vfVM);

    </script>


}

@section styles{
    <link rel="stylesheet" asp-href-include="~/assets/libs/css/bootstrap-multiselect.css" asp-append-version="true" />
}