@page
@using CalculateFunding.Frontend.Properties
@model CalculateFunding.Frontend.Pages.Approvals.ConfirmPageModel
@{
    ViewData["Title"] = "Choose " + Model.SpecificationViewModel.Name + " for funding";
}

@section NavBar {
    <partial name="_NavbarPartial" />
}

@section FormBannerLeft{
    <h1 class="heading-large">Confirm selection: @Model.SpecificationViewModel.Name</h1>
}

@section BreadCrumb{
    <div class="breadcrumbs">
        <ol>
            <li><a href="~/">@BreadcrumbText.CalculateFunding</a></li>
            <li><a href="/approvals">@BreadcrumbText.FundingApprovals</a></li>
            <li><a href="/approvals/choose?fundingPeriod=@Model.FundingPeriodId&fundingStream=@Model.FundingStreamId&operationId=@Model.SpecificationId">@BreadcrumbText.ChooseFundingSpecification</a></li>
            <li>@BreadcrumbText.ConfirmSelection</li>
        </ol>
    </div>
}

<div id="main-container">

    <div class="row confirm-select-fundingstreams-container">
        <div class="col-sm-12 col-md-9">
            <p>
                You've selected @Model.SpecificationViewModel.Name for <strong>@Model.SpecificationViewModel.FundingPeriod.Name</strong> with funding streams:
            </p>

            @foreach (string fundingStream in Model.SpecificationViewModel.FundingStreams.Select(m => m.Name))
            {
                <strong>@fundingStream</strong> <br />
            }
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-9">

            <p>
                Check funding amounts before confirming, include those from draft or updated calculations as they will be included.
            </p>
            <p>
                If you confirm this specification the system will generate an approve funding page with a held status.<br />
                Funding values will not be published to providers at this point.
            </p>
            <div>
                You will not be able to:<br />
                <ul class="confirm-statement-list">
                    <li>choose a specification for this funding period if it has a funding stream used by this specification</li>
                    <li>undo choosing this specification</li>
                </ul>
            </div>
            <div>
                <div class="icon-confirm-select-funding-container"><i class="material-icons">error</i></div><div><strong>Once you confirm a specification you cannot change your choice</strong>.</div>
            </div>

            <p class="form-submit-container"><button type="button" class="button" id="confirm-button">Choose this specification</button> <a href="/approvals/choose?fundingPeriod=@Model.FundingPeriodId&fundingStream=@Model.FundingStreamId&operationId=@Model.SpecificationId">Back - do not choose</a></p>
        </div>
    </div>

</div>

<div id="wait-state-container" style="display:none; text-align:center" class="col-sm-12 col-md-12">
    <p class="heading-medium"><strong>Generating funding values for providers</strong></p>
    <p>Please wait, this may take a minute or so.</p>
    <img src="~/assets/images/loader.gif" />
</div>
@section scripts{
    <script asp-src-include="~/js/confirm.funding-specification.js" asp-append-version="true" type="text/javascript"></script>

    <script type="text/javascript">
        var vm = new calculateFunding.ConfirmSpecificationForFunding.ConfirmationViewModel({ specificationId: '@Model.SpecificationId', fundingPeriodId: '@Model.FundingPeriodId', fundingStreamId: '@Model.FundingStreamId' });
        vm.RegisterClickEvent();
    </script>
}