@page
@model ViewFundingModel
@using CalculateFunding.Frontend.Extensions
@using CalculateFunding.Frontend.Properties
@{
    ViewData["Title"] = "Approve and publish funding";
}

@section NavBar {
    <partial name="_NavbarPartial" />
}

@section PermissionWarnings
{
    <div class="row" style="display:none;" data-bind="visible:!doesUserHaveAllPermissions() && pageState() == 'main'">
        <div class="col-xs-12 permission-warning-banner">
            <div class="permission-warning-inner">
                <p class="permission-warning-text">
                    <i class="material-icons permission-warning-icon">warning</i><span data-bind="text: userPermissionsText"></span></p>
            </div>
        </div>
    </div>
}

@section BreadCrumb {
    <div class="breadcrumbs">
        <ol>
            <li><a href="~/">@BreadcrumbText.CalculateFunding</a></li>
            <li><a href="/approvals">@BreadcrumbText.FundingApprovals</a></li>
            <li><a href="/approvals/viewfunding">@BreadcrumbText.ApproveAndPublishFunding</a></li>
            <li data-bind="text:selectedSpecification() ? selectedSpecification().value : 'unknown', visible: pageState() === 'main'"></li>
        </ol>
    </div>
}

@section BannerWhole {
    <div class="viewfunding-page-header spacing-15">
        <div data-bind="visible: pageState() === 'initial'">
            <div>
                <h1 class="hero-title">Approve and Publish funding</h1>
                <h2 class="hero-description"> You can approve and publish the chosen specification.</h2>
            </div>

        </div>
        <div data-bind="visible: pageState() === 'main'">
            <h2 class="hero-description-skinny" data-bind="text: selectedFundingPeriod() ? selectedFundingPeriod().value : 'unknown'"></h2>
            <h1 class="hero-title-skinny" data-bind="text: selectedSpecification()? selectedSpecification().value : 'unknown'"></h1>
            <h3 class="hero-text" data-bind="text: selectedFundingStream() ? selectedFundingStream().name : 'unknown'"></h3>
        </div>
        <div data-bind="visible: pageState() === 'main'" class="viewfunding-page-buttons">
            <button style="margin-right: 15px;" id="approve" class="btn approvalstatus-button approvalstatus-button-approve" data-bind="enable: canApprove, click: confirmApprove">Approve</button>
            <button id="publish" class="btn approvalstatus-button approvalstatus-button-publish" data-bind="enable: canPublish, click: confirmPublish">Publish</button>
        </div>
        <div data-bind="visible: pageState() === 'confirmApproval' || pageState() === 'working-confirmApproval'">
            <h1 class="hero-title-skinny">Approve confirmation for the selected provider funding</h1>
        </div>
        <div data-bind="visible: pageState() === 'confirmPublish' || pageState() === 'working-confirmPublish'">
            <h1 class="hero-title-skinny">Publish confirmation for the selected provider funding</h1>
        </div>
    </div>
}

<div class="viewfunding-page-container" id="viewfunding-page-container">
    <div class="row view-funding-page-refresh-holder" style="display: none" data-bind="visible: isWorkingVisible">
        <div class="col-xs-12 view-funding-page-refresh">
            <p class="h4-heading"><strong data-bind="text: workingMessage"></strong></p>
            <p>Please wait, this may take several minutes.</p>
            <img src="~/assets/images/loader.gif" />
            <div data-bind="visible: workingPercentComplete()"><span data-bind="text: workingPercentComplete"></span>%</div>
        </div>
    </div>
    @if (Model.ShouldAllocationLineMajorMinorVersioningEnabled)
    {
        <div data-bind="visible: notificationStatus() === 'refreshNotUpdated'" class="notification-panel">
            <div class="notification-panel-summary">
                <i class="material-icons">check</i> <span>Allocation line funding values refreshed successfully, no values have changed</span>
            </div>
        </div>

        <div data-bind="visible: notificationStatus() === 'refreshError'" class="notification-panel-updated-error">
            <div class="notification-panel-error-text">
                <h4 class="material-icons-content-container"><i class="material-icons">error</i> <span><strong>Unable to refresh allocation line funding variables</strong></span></h4><br /><span class="notification-panel-error-content"><a data-bind="click: refreshFundingSnapshot">Try again</a> in a few minutes (or) log an incident on <a href="#">My Service Desk</a></span>
            </div>
        </div>

        <div data-bind="visible: notificationStatus() === 'refreshUpdated'" class="notification-panel-updated">
            <div class="notification-panel-updated-text">
                <h4 class="material-icons-content-container"><i class="material-icons">check</i> <span><strong>Allocation line funding values refreshed successfully</strong></span></h4><br /><span class="notification-panel-updated-info-text"><span data-bind="text: updatedCount()"></span> Allocation line funding values updated</span> <span class="notification-panel-updated-info-text-small">you need to approve the funding allocation line total before publish</span>
            </div>
        </div>
    }

    <div data-bind="visible: notificationMessage(), css: notificationStatus()===  'error' ? 'notification-panel-error' : 'notification-panel'">
        <span data-bind="css: notificationStatus() === 'error' ? 'notification-panel-error-text' : 'notification-panel-summary'">
            <i class="material-icons" data-bind="text: notificationStatus() === 'error' ? 'error' : 'check'">check</i> <span data-bind="text: notificationMessage"></span>
        </span>
    </div>

    <div data-bind="visible: pageState() === 'initial'" class="row">
        <div class="col-sm-9 col-md-6">
            <div class="form-group">
                <label>Select funding period:</label>
                <div>
                    <select class="form-control" id="fundingperiod" data-bind="options: FundingPeriods, value:selectedFundingPeriod, optionsText: 'value', optionsCaption:'Please select'"></select>
                </div>
            </div>
            <div class="form-group">
                <label>Select specification:</label>
                <div>
                    <select class="form-control" id="specification" data-bind="options: Specifications, value:selectedSpecification, optionsText: 'value', optionsCaption: 'Please select', enable: selectedFundingPeriod()"></select>
                </div>
            </div>
            <div class="form-group">
                <label>Select funding stream:</label>
                <div>
                    <select class="form-control" id="fundingstreams" data-bind="options: FundingStreams, value:selectedFundingStream, optionsText: 'name', optionsCaption: 'Please select', enable: selectedSpecification()"></select>
                </div>
            </div>
            <div>
                <h4 class="material-icons-content-container"><i class="material-icons material-icons-left">error</i> <span>Only one funding stream can be approved or published at a time</span></h4>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="form-submit-container"><button type="button" class="button" id="ViewFunding" data-bind="click: viewFunding, enable: selectedFundingStream()">View funding</button> </p>
                </div>
            </div>
            <div id="view-funding-wait-control" style="display:none; text-align:center" class="col-sm-9 col-md-6">
                <p class="h4-heading"><strong>Search is progressing</strong></p>
                <p>This may take a minute or so, please bear with us.</p>
                <img src="~/assets/images/loader.gif" />
            </div>
        </div>
    </div>


    <div data-bind="visible: pageState() === 'main'">
        <div class="row spacing-10-bottom">
            <div class="col-xs-12">
                <div class="float-right" style="display:inline">
                    <span>Last refreshed on: </span><span data-bind="text: selectedSpecification() ? selectedSpecification().publishedResultsRefreshedAtDisplay() : 'Not available'"></span>
                    <button class="refresh-btn" type="button" data-bind="click: refreshFundingSnapshot, enable: canRefreshFunding">
                        <i class="material-icons">refresh</i>
                        <span>Refresh funding</span>
                    </button>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#">All Providers</a></li>
                </ul>
            </div>
        </div>
            <div class="row table-filter-container">
                @if (Model.ShouldFiltersBeEnabled)
                {
                    <div class="col-xs-2">
                        <div class="withjs-show">
                            Allocation Line
                            <select id="allocationLine" data-bind="multiselect2: {nonSelectedText: 'Show all', buttonWidth: '100%', disableIfEmpty: false}, options: approveSearchModel.selectableAllocationLines, optionsText: 'displayName', optionsValue: 'name', selectedOptions: approveSearchModel.selectedAllocationLines, enable: true" multiple></select>
                        </div>
                    </div>

                    <div class="col-xs-2">
                        <div class="withjs-show">
                            Provider type
                            <select id="providerType" data-bind="multiselect2: {nonSelectedText: 'Show all', buttonWidth: '100%', disableIfEmpty: false}, options: approveSearchModel.selectableProviderTypes, optionsText: 'displayName', optionsValue: 'name', selectedOptions: approveSearchModel.selectedProviderTypes, enable: true" multiple></select>
                        </div>
                    </div>

                    <div class="col-xs-2">
                        <div class="withjs-show">
                            Local Authority
                            <select id="localAuthority" data-bind="multiselect2: {nonSelectedText: 'Show all', buttonWidth: '100%', disableIfEmpty: false}, options: approveSearchModel.selectableLocalAuthorities, optionsText: 'displayName', optionsValue: 'name', selectedOptions: approveSearchModel.selectedLocalAuthorities, enable: true" multiple></select>
                        </div>
                    </div>

                    <div class="col-xs-2">
                        <div class="withjs-show">
                            Status
                            <select id="status" data-bind="multiselect2: {nonSelectedText: 'Show all', buttonWidth: '100%', disableIfEmpty: false}, options: approveSearchModel.selectableStatuses, optionsText: 'displayName', optionsValue: 'name', selectedOptions: approveSearchModel.selectedStatuses, enable: true" multiple></select>
                        </div>
                    </div>

                    <div class="col-xs-2">
                        <div class="spacing-30-top withjs-show">
                            <a href="#" data-bind="click: approveSearchModel.removeFilters()">Clear filters</a>
                        </div>
                    </div>

                    <div class="col-xs-2 total-count spacing-30-top">
                        <span class="align-text-bottom">Showing <span data-bind="text: (pageNumber() * itemsPerPage) + 1"></span>-<span data-bind="text: (pageNumber() * itemsPerPage) + currentPageResults().length"></span> of <span class="bold" data-bind="text: filteredResults().length"></span> providers</span>
                    </div>
                }
                else
                {
                    <div class="col-xs-9"></div>
                    <div class="col-xs-3 total-count">
                        Showing <span data-bind="text: (pageNumber() * itemsPerPage) + 1"></span>-<span data-bind="text: (pageNumber() * itemsPerPage) + currentPageResults().length"></span> of <span class="bold" data-bind="text: filteredResults().length"></span> providers
                    </div>
                }
            </div>
        <table class="cf">
            <thead data-spy="affix" data-offset-top="300">
                <tr>
                    <th rowspan="2" class="valign-top provider-column">
                        <div>Provider name</div>
                        <div class="spacing-15-top total-selected-text">
                            <input type="checkbox" id="selectAll" value="true" data-bind="checked: selectAll" title="Select All" /> <span data-bind="text: numberAllocationLinesSelected"></span>/<span data-bind="text: totalNumberAllocationLines"></span> selected
                        </div>
                    </th>
                    <th rowspan="2" class="valign-top text-center ukprn-column">UKPRN</th>
                    <th colspan="4" class="text-center valign-top allocation-line-column">Allocation line statuses</th>
                    <th rowspan="2" class="funding-header valign-top funding-total-column">Allocation line funding total</th>
                    <th rowspan="2" class="expander-column"></th>
                </tr>
                <tr>
                    <th class="text-center sub-heading min-width-xs status-column">New</th>
                    <th class="text-center sub-heading min-width-xs status-column">Approved</th>
                    <th class="text-center sub-heading min-width-xs status-column">Updated</th>
                    <th class="text-center sub-heading min-width-xs status-column">Published</th>
                </tr>
            </thead>

            @if (Model.ShouldAllocationLineMajorMinorVersioningEnabled)
            {
            <tbody id="allocation-lines-rows">
                <!-- ko foreach: currentPageResults -->
                <tr class="expander-trigger-container data-provider-container provider-column">
                    <td class="expander-container-group-identifier">
                        <input type="checkbox" data-bind="attr: { id: 'checkbox-provider-' + providerId }, checked: isSelected" class="target-checkbox-provider" /> <label data-bind="attr: { for: 'checkbox-provider-' + providerId }, text: providerName" class="inline-table-label data-provider-name"></label>
                    </td>
                    <td class="data-provider-id ukprn-column"><span data-bind="text: providerId"></span></td>
                    <td class="text-center status-column" data-bind="css: { 'status-held': numberNew() > 0 }"><span data-bind="text: numberNew()"></span>/<span data-bind="text: totalAllocationLines"></span></td>
                    <td class="text-center status-column" data-bind="css: { 'status-approved': numberApproved() > 0 }"><span data-bind="text: numberApproved()"></span>/<span data-bind="text: totalAllocationLines"></span></td>
                    <td class="text-center status-column" data-bind="css: { 'status-updated': numberUpdated() > 0 }"><span data-bind="text: numberUpdated()"></span>/<span data-bind="text: totalAllocationLines"></span></td>
                    <td class="text-center status-column" data-bind="css: { 'status-published': numberPublished() > 0 }"><span data-bind="text: numberPublished()"></span>/<span data-bind="text: totalAllocationLines"></span></td>
                    <td class="data-provider-amount funding-total-column">&pound;<span data-bind="text:fundingAmountDisplay"></span></td>
                    <td class="expander-trigger-cell expander-column" data-bind="click: function () { calculateFunding.table.sequential.toggleExpandContainer($element); $parent.expandProvider($data, $parent); }"><i class="material-icons">keyboard_arrow_down</i></td>
                </tr>
                <tr class="expander-container expander-container-header">
                    <td colspan="9" class="expander-container-group-identifier">
                        <span class="qa-coverage-loading" data-bind="visible: qaTestResultsRequestStatus() === 'loading'">Loading test results</span>
                        <span class="qa-coverage-loading-failed" style="display: none" data-bind="visible: qaTestResultsRequestStatus() === 'failed'">Error loading test results</span>
                        <span class="inline-list qa-coverage-container" style="display: none" data-bind="visible: qaTestResultsRequestStatus() === 'loaded'">
                            <span class="inline-list-item"><span>QA test coverage:</span> <span class="data-qa-coverage" data-bind="text: qaTestResults() != null ? qaTestResults().testCoverage : ''"></span>%</span>
                            <span class="inline-list-item"><span>QA test passes:</span> <span class="data-qa-passed" data-bind="text: qaTestResults() != null ? qaTestResults().passed : ''"></span>/<span class="data-qa-totaltests" data-bind="text: qaTestResults() != null ? qaTestResults().failed + qaTestResults().ignored + qaTestResults().passed : ''"></span></span>
                        </span>
                        <span class="inline-list-item"><span>Local authority:</span> <span data-bind="text: authority"></span></span>
                    </td>
                </tr>
                <tr class="expander-container expander-container-header">
                    <td class="bold expander-container-group-identifier">Allocation lines</td>
                    <td class="bold">Version</td>
                    <td class="bold text-center" colspan="4">Allocation line statuses</td>
                    <td class="bold" colspan="2">Allocation line value</td>
                </tr>
                <!-- ko foreach: allocationLineResults -->
                <!-- ko if: !isFilteredOut() -->
                <tr class="expander-container data-allocationline-container">
                    <td class="expander-container-group-identifier">
                        <input type="checkbox" data-bind="attr: { id: 'checkbox-allocationline-' + $parent.providerId + '-' + allocationLineId }, checked: isSelected, event: { change: function(data) { $root.allocationLineResultChecked(data, $root) } }" class="target-checkbox-allocationline" /> <label data-bind="attr: { for: 'checkbox-allocationline-' + $parent.providerId + '-' + allocationLineId }, text: allocationLineName" class="inline-table-label data-allocationline-name"></label>
                    </td>
                    <td>
                        <span data-bind="text: version"></span>
                    </td>

                    <!-- ko if: status === calculateFunding.approvals.AllocationLineStatus.Held -->
                    <td class="status-new text-center border-right-hidden">New</td>
                    <td class="border-right-hidden"></td>
                    <td class="border-right-hidden"></td>
                    <td></td>
                    <!-- /ko -->
                    <!-- ko if: status === calculateFunding.approvals.AllocationLineStatus.Approved -->
                    <td class="border-right-hidden"></td>
                    <td class="text-center status-approved border-right-hidden">Approved</td>
                    <td class="border-right-hidden"></td>
                    <td></td>
                    <!-- /ko -->
                    <!-- ko if: status === calculateFunding.approvals.AllocationLineStatus.Updated -->
                    <td class="border-right-hidden"></td>
                    <td class="border-right-hidden"></td>
                    <td class="text-center status-updated border-right-hidden">Updated</td>
                    <td></td>
                    <!-- /ko -->
                    <!-- ko if: status === calculateFunding.approvals.AllocationLineStatus.Published -->
                    <td class="border-right-hidden"></td>
                    <td class="border-right-hidden"></td>
                    <td class="border-right-hidden"></td>
                    <td class="text-center status-published">Published</td>
                    <!-- /ko -->

                    <td colspan="2" class="data-allocationline-amount">&pound;<span data-bind="text: fundingAmountDisplay"></span></td>
                </tr>
                <!-- /ko -->
                <!-- /ko -->
                <tr class="expander-container data-allocationline-container"><td colspan="8" class="no-border-both"></td></tr>
                <!-- /ko -->
            </tbody>
            }
            else
            {
            <tbody id="allocation-lines-rows">
                <!-- ko foreach: currentPageResults -->
                <tr class="expander-trigger-container data-provider-container provider-column">
                    <td class="expander-container-group-identifier">
                        <input type="checkbox" data-bind="attr: { id: 'checkbox-provider-' + providerId }, checked: isSelected" class="target-checkbox-provider" /> <label data-bind="attr: { for: 'checkbox-provider-' + providerId }, text: providerName" class="inline-table-label data-provider-name"></label>
                    </td>
                    <td class="data-provider-id ukprn-column"><span data-bind="text: providerId"></span></td>
                    <td class="text-center status-column" data-bind="css: { 'status-held': numberNew() > 0 }"><span data-bind="text: numberNew()"></span>/<span data-bind="text: totalAllocationLines"></span></td>
                    <td class="text-center status-column" data-bind="css: { 'status-approved': numberApproved() > 0 }"><span data-bind="text: numberApproved()"></span>/<span data-bind="text: totalAllocationLines"></span></td>
                    <td class="text-center status-column" data-bind="css: { 'status-updated': numberUpdated() > 0 }"><span data-bind="text: numberUpdated()"></span>/<span data-bind="text: totalAllocationLines"></span></td>
                    <td class="text-center status-column" data-bind="css: { 'status-published': numberPublished() > 0 }"><span data-bind="text: numberPublished()"></span>/<span data-bind="text: totalAllocationLines"></span></td>
                    <td class="data-provider-amount funding-total-column">&pound;<span data-bind="text:fundingAmountDisplay"></span></td>
                    <td class="expander-trigger-cell expander-column" data-bind="click: function () { calculateFunding.table.sequential.toggleExpandContainer($element); $parent.expandProvider($data, $parent); }"><i class="material-icons">keyboard_arrow_down</i></td>
                </tr>
                <tr class="expander-container expander-container-header">
                    <td colspan="9" class="expander-container-group-identifier">
                        <span class="qa-coverage-loading" data-bind="visible: qaTestResultsRequestStatus() === 'loading'">Loading test results</span>
                        <span class="qa-coverage-loading-failed" style="display: none" data-bind="visible: qaTestResultsRequestStatus() === 'failed'">Error loading test results</span>
                        <span class="inline-list qa-coverage-container" style="display: none" data-bind="visible: qaTestResultsRequestStatus() === 'loaded'">
                            <span class="inline-list-item"><span>QA test coverage:</span> <span class="data-qa-coverage" data-bind="text: qaTestResults() != null ? qaTestResults().testCoverage : ''"></span>%</span>
                            <span class="inline-list-item"><span>QA test passes:</span> <span class="data-qa-passed" data-bind="text: qaTestResults() != null ? qaTestResults().passed : ''"></span>/<span class="data-qa-totaltests" data-bind="text: qaTestResults() != null ? qaTestResults().failed + qaTestResults().ignored + qaTestResults().passed : ''"></span></span>
                        </span>
                        <span class="inline-list-item"><span>Local authority:</span> <span data-bind="text: authority"></span></span>
                    </td>
                </tr>
                <tr class="expander-container expander-container-header">
                    <td class="bold expander-container-group-identifier">Allocation lines</td>
                    <td class="bold">Version</td>
                    <td class="bold text-center" colspan="4">Allocation line statuses</td>
                    <td class="bold" colspan="2">Allocation line value</td>
                </tr>
                <!-- ko foreach: allocationLineResults -->
                <!-- ko if: !isFilteredOut() -->
                <tr class="expander-container data-allocationline-container">
                    <td class="expander-container-group-identifier">
                        <input type="checkbox" data-bind="attr: { id: 'checkbox-allocationline-' + $parent.providerId + '-' + allocationLineId }, checked: isSelected, event: { change: function(data) { $root.allocationLineResultChecked(data, $root) } }" class="target-checkbox-allocationline" /> <label data-bind="attr: { for: 'checkbox-allocationline-' + $parent.providerId + '-' + allocationLineId }, text: allocationLineName" class="inline-table-label data-allocationline-name"></label>
                    </td>
                    <td>
                        <span data-bind="text: version"></span>
                    </td>

                    <!-- ko if: status === calculateFunding.approvals.two.AllocationLineStatus.Held -->
                    <td class="status-new text-center border-right-hidden">New</td>
                    <td class="border-right-hidden"></td>
                    <td class="border-right-hidden"></td>
                    <td></td>
                    <!-- /ko -->
                    <!-- ko if: status === calculateFunding.approvals.two.AllocationLineStatus.Approved -->
                    <td class="border-right-hidden"></td>
                    <td class="text-center status-approved border-right-hidden">Approved</td>
                    <td class="border-right-hidden"></td>
                    <td></td>
                    <!-- /ko -->
                    <!-- ko if: status === calculateFunding.approvals.two.AllocationLineStatus.Updated -->
                    <td class="border-right-hidden"></td>
                    <td class="border-right-hidden"></td>
                    <td class="text-center status-updated border-right-hidden">Updated</td>
                    <td></td>
                    <!-- /ko -->
                    <!-- ko if: status === calculateFunding.approvals.two.AllocationLineStatus.Published -->
                    <td class="border-right-hidden"></td>
                    <td class="border-right-hidden"></td>
                    <td class="border-right-hidden"></td>
                    <td class="text-center status-published">Published</td>
                    <!-- /ko -->

                    <td colspan="2" class="data-allocationline-amount">&pound;<span data-bind="text: fundingAmountDisplay"></span></td>
                </tr>
                <!-- /ko -->
                <!-- /ko -->
                <tr class="expander-container data-allocationline-container"><td colspan="8" class="no-border-both"></td></tr>
                <!-- /ko -->
            </tbody>
            }

        </table>

        <div class="pager">
            <ul class="pagination">
                <li data-bind="css: hasPrevious() ? '' : 'disabled'"><a href="#" data-bind="click: function () { $root.viewPage($root, 1); }" title="View First Page"><i class="material-icons">first_page</i></a></li>
                <li data-bind="css: hasPrevious() ? '' : 'disabled'"><a href="#" data-bind="click: viewPrevious" title="View Previous Page"><i class="material-icons">chevron_left</i></a></li>
                <!-- ko foreach: visiblePageNumbers -->
                <li data-bind="css: $parent.pageNumber() + 1 == $data ? 'active' : ''"><a href="#" data-bind="text: $data, click: function (){ $parent.viewPage($root, $data); }"></a></li>
                <!-- /ko-->
                <li data-bind="css: hasNext() ? '' : 'disabled'"><a href="#" data-bind="click:viewNext" title="View Next Page"><i class="material-icons">chevron_right</i></a></li>
                <li data-bind="css: hasNext() ? '' : 'disabled'"><a href="#" data-bind="click:function () { $root.viewPage($root, $root.allPageNumbers().length); }" title="View Last Page"><i class="material-icons">last_page</i></a></li>
            </ul>
        </div>

        <div data-bind="visible: !isWorkingVisible() && allProviderResults().length == 0" class="noresults-panel spacing-30">
            <span class="noresults-panel-text">
                <i class="material-icons">error</i> There are no results to display for the selected Funding Period, Specification and Funding Stream.
            </span>
        </div>
    </div>
<div data-bind="visible: pageState() === 'confirmApproval'" class="confirmapproval-page-container">
    <div class="confirmapproval-details">
        <div class="confirmapproval-details-providers">
            <table>
                <caption>You have selected:</caption>
                <thead>
                    <tr>
                        <th class="fixed-width-330">Provider details</th>
                        <th>Info</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Number of providers to approve</td>
                        <td><span data-bind="text: approvalDetails().numberOfProviders"></span></td>
                    </tr>
                    <tr data-bind="template: { name: 'list-expander-template', data: { title: 'Provider types selected', list: approvalDetails().providerTypes } }" class="expander-control"></tr>
                    <tr data-bind="template: { name: 'list-expander-template', data: { title: 'Provider local authorities selected', list: approvalDetails().localAuthorities } }" class="expander-control"></tr>
                </tbody>
            </table>
        </div>
        <div class="confirmapproval-details-specification">
            <table>
                <thead>
                    <tr>
                        <th class="fixed-width-330">Specification Details</th>
                        <th>Info</th>
                        <th>Funding</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Funding Period</td>
                        <td colspan="2"><span data-bind="text: selectedFundingPeriod() ? selectedFundingPeriod().value : 'unknown'"></span></td>
                    </tr>
                    <tr class="nobottomborder">
                        <td>Specification Selected</td>
                        <td colspan="2"><span data-bind="text: selectedSpecification() ? selectedSpecification().value : 'unknown'"></span></td>
                    </tr>
                    <tr class="topborderonly">
                        <td>Funding Stream</td>
                        <td colspan="2"><span data-bind="text: selectedFundingStream() ? selectedFundingStream().name : 'unknown'"></span></td>
                    </tr>
                    <!-- ko foreach: approvalDetails().allocationLinesRollup -->
                    <tr class="nobottomborder">
                        <td class="allocation-line-text">
                            <!-- ko if: $index === 0 -->
                            <span>Allocation Lines</span>}
                            <!-- /ko -->
                        </td>
                        <td>
                            <span class="allocation-line-text" data-bind="text: name"></span>
                        </td>
                        <td>
                            <span data-bind="text: valueDisplay"></span>
                        </td>
                    </tr>
                    <!-- /ko -->
                    <tr class="topborderonly">
                        <td><span class="bold">Total Funding being approved</span></td>
                        <td></td>
                        <td>
                            <span class="bold" data-bind="text: approvalDetails().totalFundingApprovedDisplay"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="confirmapproval-confirmation">
        <span>Once Approved:</span>
        <ol>
            <li>Funding values will be available to the profiling service</li>
            <li>Funding values <strong>will not</strong> be published or paid to providers</li>
        </ol>
        <div class="confirmapproval-warning">
            <div class="confirmapproval-warning-icon">
                <i class="material-icons">error</i>
            </div>
            <div>
                <strong>Approved funding values can change when data or calculations are altered. If the funding values change their statuses will become 'updated' and they will need to be reapproved.</strong>
            </div>
        </div>
        <div class="confirmapproval-buttons">
            <button id="approve" class="button approvalstatus-button approvalstatus-button-approve" data-bind="click: approve">Confirm approval</button>
            <a href="#" data-bind="click: dismissConfirmPage">Back</a>
        </div>
    </div>
</div>
<div data-bind="visible: pageState() === 'confirmPublish'" class="confirmpublish-page-container" id="confirmpublish-page-container">
    <div class="confirmpublish-details">
        <div class="confirmpublish-details-providers">
            <table>
                <caption>You have selected:</caption>
                <thead>
                    <tr>
                        <th class="fixed-width-330">Provider details</th>
                        <th>Info</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Number of providers to publish</td>
                        <td><span data-bind="text: publishDetails().numberOfProviders"></span></td>
                    </tr>
                    <tr data-bind="template: { name: 'list-expander-template', data: { title: 'Provider types selected', list: publishDetails().providerTypes } }" class="expander-control"></tr>
                    <tr data-bind="template: { name: 'list-expander-template', data: { title: 'Provider local authorities selected', list: publishDetails().localAuthorities } }" class="expander-control"></tr>
                </tbody>
            </table>
        </div>
        <div class="confirmpublish-details-specification">
            <table>
                <thead>
                    <tr>
                        <th class="fixed-width-330">Specification Details</th>
                        <th>Info</th>
                        <th>Funding</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Funding Period</td>
                        <td colspan="2"><span data-bind="text: selectedFundingPeriod() ? selectedFundingPeriod().value : 'unknown'"></span></td>
                    </tr>
                    <tr class="nobottomborder">
                        <td>Specification Selected</td>
                        <td colspan="2"><span data-bind="text: selectedSpecification() ? selectedSpecification().value : 'unknown'"></span></td>
                    </tr>
                    <tr class="topborderonly">
                        <td>Funding Stream</td>
                        <td colspan="2"><span data-bind="text: selectedFundingStream() ? selectedFundingStream().name : 'unknown'"></span></td>
                    </tr>
                    <!-- ko foreach: publishDetails().allocationLinesRollup -->
                    <tr class="nobottomborder">
                        <td class="allocation-line-text">
                            <!-- ko if: $index === 0 -->
                            <span>Allocation Lines</span>}
                            <!-- /ko -->
                        </td>
                        <td>
                            <span class="allocation-line-text" data-bind="text: name"></span>
                        </td>
                        <td>
                            <span data-bind="text: valueDisplay"></span>
                        </td>
                    </tr>
                    <!-- /ko -->
                    <tr class="topborderonly">
                        <td><span class="bold">Total Funding being approved</span></td>
                        <td></td>
                        <td>
                            <span class="bold" data-bind="text: publishDetails().totalFundingApprovedDisplay"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="confirmpublish-confirmation">
        <span>Once Published:</span>
        <ol>
            <li>Funding values will be available to the profiling service</li>
            <li>Funding values <strong>will be</strong> available for providers to view via the ESFS</li>
            <li>Funding values will be available to the payment service to be paid on the schedule date</li>
        </ol>
        <div class="confirmpublish-warning">
            <div class="confirmpublish-warning-icon">
                <i class="material-icons">error</i>
            </div>
            <div>
                <strong>Published funding values can change when data or calculatations are altered. If the funding values change their statuses will become 'updated' and they will need to be reapproved and republished.</strong>
            </div>
        </div>
        <div class="confirmpublish-buttons">
            <button id="publish" data-bind="click: publish" class="button approvalstatus-button approvalstatus-button-approve">Confirm publish</button>
            <a href="#" data-bind="click: dismissConfirmPage">Back</a>
        </div>
    </div>
</div>

</div>

<script type="text/html" id="list-expander-template">
    <td class="caption">
        <!-- ko if: $data.list.canExpand() -->
        <i class="material-icons gov-blue" data-bind="text: $data.list.icon"></i>
        <a data-bind="click: $data.list.toggleExpand, text: $data.title"></a>
        <!-- /ko -->
        <!-- ko if: !$data.list.canExpand() -->
        <span data-bind="text: $data.title"></span>
        <!-- /ko -->
    </td>
    <td>
        <span data-bind="html: $data.list.text"></span>
    </td>
</script>

@section scripts{
    <script type="text/javascript" asp-src-include="~/assets/libs/js/knockout-latest.js" asp-append-version="true"></script>
    @if (Model.ShouldAllocationLineMajorMinorVersioningEnabled)
    {
        <script type="text/javascript" asp-src-include="~/js/approvals.viewfunding.js" asp-append-version="true"></script>
    }
    else
    {
        <script type="text/javascript" asp-src-include="~/js/approvals.viewfunding2.js" asp-append-version="true"></script>
    }
    <script asp-src-include="~/js/search.approveAndPublish.js" asp-append-version="true" type="text/javascript"></script>
    <script type="text/javascript" asp-src-include="~/js/table.expander.sequential.js" asp-append-version="true"></script>
    <script type="text/javascript" asp-src-include="~/js/expander.js" asp-append-version="true"></script>
    <script asp-src-include="~/assets/js/bootstrap-multiselect.js" asp-append-version="true" type="text/javascript"></script>
    <script asp-src-include="~/js/bindingHandler.multiselect.js" asp-append-version="true" type="text/javascript"></script>
    <script asp-src-include="~/js/search.js" asp-append-version="true" type="text/javascript"></script>

    @if (Model.ShouldAllocationLineMajorMinorVersioningEnabled)
    {
        <script type="text/javascript">
        var settings = {
            "testScenarioQueryUrl": "/api/specs/{specificationId}/providertestcounts",
            "viewFundingPageUrl": "/api/results/get-published-provider-results-for-funding-stream?fundingPeriodId={fundingPeriodId}&specificationId={specificationId}&fundingstreamId={fundingstreamId}",
            "antiforgeryToken": "@this.HttpContext.GetAntiforgeryToken()",
            "approveAllocationLinesUrl": "/api/specs/{specificationId}/allocationlineapprovalstatus",
            "refreshPublishedResultsUrl": "/api/specs/{specificationId}/refresh-published-results",
            "checkPublishResultsStatusUrl": "/api/specs/{specificationId}/check-publish-result-status",
            "fundingPeriodUrl": "/api/specs/funding-periods",
            "specificationsUrl": "/api/specs/specifications-selected-for-funding-by-period/{fundingPeriodId}",
            "fundingStreamsUrl": "/api/specs/get-fundingstreams-for-specification/{specificationId}",
            "permissionsUrl": "/api/users/effectivepermissions/{specificationId}"
        };

            var vfVM = new calculateFunding.approvals.ViewFundingViewModel(settings);
            vfVM.isPublishButtonEnabled = @Model.ShouldPublishButtonBeEnabled;
            vfVM.isPublishAndApprovePageFiltersEnabled = @Model.ShouldFiltersBeEnabled.ToString().ToLowerInvariant();
            ko.applyBindings(vfVM);
        </script>
    }
    else
    {
        <script type="text/javascript">
        var settings = {
            "testScenarioQueryUrl": "/api/specs/{specificationId}/providertestcounts",
            "viewFundingPageUrl": "/api/results/get-published-provider-results-for-funding-stream?fundingPeriodId={fundingPeriodId}&specificationId={specificationId}&fundingstreamId={fundingstreamId}",
            "antiforgeryToken": "@this.HttpContext.GetAntiforgeryToken()",
            "approveAllocationLinesUrl": "/api/specs/{specificationId}/allocationlineapprovalstatus",
            "refreshPublishedResultsUrl": "/api/specs/{specificationId}/refresh-published-results",
            "checkPublishResultsStatusUrl": "/api/specs/{specificationId}/check-publish-result-status",
            "fundingPeriodUrl": "/api/specs/funding-periods",
            "specificationsUrl": "/api/specs/specifications-selected-for-funding-by-period/{fundingPeriodId}",
            "fundingStreamsUrl": "/api/specs/get-fundingstreams-for-specification/{specificationId}",
            "permissionsUrl": "/api/users/effectivepermissions/{specificationId}"
        };

            var vfVM = new calculateFunding.approvals.two.ViewFundingViewModel(settings);
            vfVM.isPublishButtonEnabled = @Model.ShouldPublishButtonBeEnabled;
            vfVM.isPublishAndApprovePageFiltersEnabled = @Model.ShouldFiltersBeEnabled.ToString().ToLowerInvariant();
            ko.applyBindings(vfVM);
        </script>

    }

}
