@model CalculateFunding.Frontend.ViewModels.Common.PageBannerOperation

<div class="notification-panel">
    <div class="notification-panel-firstline">
        <span class="notification-panel-text">
            <i class="material-icons">check</i>
       
            @if (!string.IsNullOrWhiteSpace(Model.ActionText) && !string.IsNullOrWhiteSpace(Model.ActionUrl))
            {
                <a href="@Model.ActionUrl">@Model.EntityName</a>
            }
            else
            {
                <!--  <span>@Model.EntityName</span>-->
                <a href="@Model.SecondaryActionUrl">@Model.EntityName  </a>

            }

            @if (!string.IsNullOrWhiteSpace(Model.EntityType))
            {
                <span>&nbsp;@Model.OperationAction</span>
            }

        </span>
        @if (!string.IsNullOrWhiteSpace(Model.ActionText) && !string.IsNullOrWhiteSpace(Model.SecondaryActionUrl))
        {
            <a href="@Model.SecondaryActionUrl" class="notification-panel-view">@Model.ActionText</a>
        }
        else if (!string.IsNullOrWhiteSpace(Model.ActionText) && !string.IsNullOrWhiteSpace(Model.ActionUrl))
        {
            <a href="@Model.ActionUrl" class="notification-panel-view">@Model.ActionText</a>
        }
    </div>

    @if (Model.DisplayOperationActionSummary)
    {
        <div class="notification-panel-summary">
             <span class="notification-panel-summary-text">  @Model.OperationActionSummaryText </span>                       
        </div>
    }

</div>
 
