@using System.Web
@model CalculateFunding.Frontend.ViewModels.Common.PagerPartialViewModel

<div data-bind="visible: !searchPerformed()" id="static-rownavigation-container">
    <div class="pull-right paging-container" id="static-paging-container">
        @if (Model.PagerState.PreviousPage.HasValue)
        {
            <a href="/datasets?pageNumber=@Model.PagerState.PreviousPage.Value&searchTerm=@Html.Raw(HttpUtility.UrlEncode(Model.SearchTerm))" class="paging-link paging-previous-link">Previous</a>

        }

        @foreach (int pageNumber in Model.PagerState.Pages)
        {
            if (pageNumber == Model.PagerState.CurrentPage)
            {
                <span class="paging-active-page">@pageNumber</span>
            }
            else
            {
                <a href="/datasets?pageNumber=@pageNumber&searchTerm=@Html.Raw(HttpUtility.UrlEncode(Model.SearchTerm))" class="paging-link" >@pageNumber</a>
            }

        }

        @if (Model.PagerState.NextPage.HasValue)
        {
            <a href="/datasets?pageNumber=@Model.PagerState.NextPage.Value&searchTerm=@Html.Raw(HttpUtility.UrlEncode(Model.SearchTerm))" class="paging-link paging-next-link">Next</a>

        }
    </div>
    <div >
        Showing  <span id="startItemNumber">@Model.StartItemNumber</span>- <span id="endItemNumber">@Model.EndItemNumber of</span> <strong id="totalResults">@Model.TotalResults</strong> @Model.EntityName
    </div>

</div>

<div class="withjs-show" data-bind="visible: searchPerformed" id="dynamic-rownavigation-container">
    Showing <span class="pagination-label"><span id="startItemNumber" data-bind="text: startItemNumber"></span>-<span id="endItemNumber" data-bind="text: endItemNumber"></span></span> of <strong id="totalResultsCount" data-bind="text: totalResults"></strong> @Model.EntityName
</div>