@model CalculateFunding.Frontend.ViewModels.Specs.SpecificationViewModel
@using CalculateFunding.Frontend.Properties

<div class="banner-link-container">
    <div class="banner-link-left-container">
        <p class="hero-text-bold">@PageText.SpecificationName:</p>
        <h1 class="hero-title-headed">@Model.Name</h1>
        <p class="hero-text-bold">@PageText.FundingPeriod:</p>
        <p class="hero-subtext">@Model.FundingPeriod.Name</p>
        <p class="hero-text-bold">@PageText.FundingStreams:</p>
        @foreach (var fundingStream in Model.FundingStreams)
        {
            <p class="hero-subtext">@fundingStream.Name</p>
        }
    </div>
    <div class="banner-link-right-container">
        <div>
            <a href="/specs/editspecification/@Model.Id?returnPage=ManagePolicies">Edit specification</a>
        </div>

        <div>
            <a href="/calcs/createadditionalcalculation/@Model.Id">Create additional calculation</a>
        </div>

        <div>
            <a href="/datasets/AssignDatasetSchema/@Model.Id">Create dataset</a>
        </div>
    </div>
</div>