@page "{specificationId}"
@model CalculateFunding.Frontend.Pages.Datasets.AssignDatasetSchemaPageModel
@using CalculateFunding.Frontend.Properties

@{
    ViewData["Title"] = "Choose data";
    Layout = "~/Pages/_Layout.cshtml";
}

@section BreadCrumb{
    <div class="breadcrumbs">
        <ol>
            <li><a href="/">@BreadcrumbText.CalculateFunding</a></li>
            <li><a href="/specs?academicYearId=@Model.AcademicYear">@BreadcrumbText.ManageSpecifications</a></li>
            <li><a href="/specs/policies/@Model.SpecificationId">@Model.SpecificationName</a></li>
            <li>@BreadcrumbText.ChooseYourData</li>
        </ol>
    </div>
}

@section FormBannerLeft{
    <p class="hero-text">@Model.SpecificationName</p>
    <h1 class="hero-title">Choose your data</h1>
}

<div class="row">
    <div class="col-sm-9 col-md-6">
        <form method="post" class="form">
            <div gds-validation-summary="All"></div>
            <div>
                <a validationanchor-for="AssignDatasetViewModel.DatasetDefinitionId"></a>

                <div gds-validationblock-for="AssignDatasetViewModel.DatasetDefinitionId">
                    <div class="form-group">
                        <a validationanchor-for="AssignDatasetViewModel.DatasetDefinitionId"></a>
                        <label asp-for="AssignDatasetViewModel.DatasetDefinitionId">Select dataset schema:</label>
                        <select asp-items="@(Model.Datasets)" asp-for="AssignDatasetViewModel.DatasetDefinitionId" class="form-control">
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>

            <div>
                <div gds-validationblock-for="AssignDatasetViewModel.Name">
                    <div class="form-group">
                        <a validationanchor-for="AssignDatasetViewModel.Name"></a>
                        <label asp-for="AssignDatasetViewModel.Name">Name the dataset schema relationship:</label>
                        <input asp-for="AssignDatasetViewModel.Name" class="form-control" type="text" placeholder="Provide unique name for the relationship." id="datasetSchemaName">
                    </div>
                </div>
            </div>


            <div>
                <div gds-validationblock-for="AssignDatasetViewModel.Description">
                    <div class="form-group">
                        <a validationanchor-for="AssignDatasetViewModel.Description"></a>
                        <label asp-for="AssignDatasetViewModel.Description">Description:</label>
                        <textarea asp-for="AssignDatasetViewModel.Description" rows="10" placeholder="Please enter the description."  class="form-control" id="contents" title="Contents"></textarea>
                    </div>
                </div>
            </div>


            <p class="form-submit-container"><button type="submit" class="button">Save</button> <a href="/specs/policies/@Model.SpecificationId">Cancel</a></p>



        </form>
    </div>
</div>