@page "{specificationId}"
@model CalculateFunding.Frontend.Pages.Datasets.AssignDatasetSchemaPageModel
@using CalculateFunding.Frontend.Properties

@{
    ViewData["Title"] = "Choose data";
    Layout = "~/Pages/_Layout.cshtml";
}

@section BreadCrumb{
    <div class="breadcrumbs">
        <ol>
            <li><a href="/">@BreadcrumbText.CalculateFunding</a></li>
            <li><a href="/specs?fundingPeriodId=@Model.FundingPeriodId">@BreadcrumbText.ManageSpecifications</a></li>
            <li><a href="/specs/policies/@Model.SpecificationId">@Model.SpecificationName</a></li>
            <li>@BreadcrumbText.ChooseYourData</li>
        </ol>
    </div>
}

@section FormBannerLeft{
    <p class="hero-text">@Model.SpecificationName</p>
    <h1 class="hero-title">Create dataset</h1>
}

<div class="row">
    <div class="col-sm-9 col-md-6">
        <form method="post" class="form">
            <div gds-validation-summary="All"></div>
            <div>
                <a validationanchor-for="AssignDatasetSchemaViewModel.DatasetDefinitionId"></a>

                <div gds-validationblock-for="AssignDatasetSchemaViewModel.DatasetDefinitionId">
                    <div class="form-group">
                        <a validationanchor-for="AssignDatasetSchemaViewModel.DatasetDefinitionId"></a>
                        <label asp-for="AssignDatasetSchemaViewModel.DatasetDefinitionId">Select data schema</label>
                        <select gds-items="@(Model.Datasets)" gds-for="AssignDatasetSchemaViewModel.DatasetDefinitionId" class="form-control">
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>

            <div>
                <div gds-validationblock-for="AssignDatasetSchemaViewModel.Name">
                    <div class="form-group">
                        <a validationanchor-for="AssignDatasetSchemaViewModel.Name"></a>
                        <label asp-for="AssignDatasetSchemaViewModel.Name">Dataset name</label>
                        <input asp-for="AssignDatasetSchemaViewModel.Name" class="form-control" type="text" placeholder="Provide unique name for the relationship." id="datasetSchemaName">
                    </div>
                </div>
            </div>

            <div>
                <div gds-validationblock-for="AssignDatasetSchemaViewModel.Description">
                    <div class="form-group">
                        <a validationanchor-for="AssignDatasetSchemaViewModel.Description"></a>
                        <label asp-for="AssignDatasetSchemaViewModel.Description">Description</label>
                        <textarea asp-for="AssignDatasetSchemaViewModel.Description" rows="10" placeholder="Please enter the description." class="form-control" id="contents" title="Contents"></textarea>
                    </div>
                </div>
            </div>
            <br/>
            <div>
                <div class="multiple-choice">
                    <input asp-for="AssignDatasetSchemaViewModel.UsedInDataAggregations" type="checkbox" id="usedInDataAggregation" value="true" title="usedInDataAggregation" />
                    <label asp-for="AssignDatasetSchemaViewModel.UsedInDataAggregations">
                        Use as a list of values in calculations - the data source mapped to this dataset will have more than one record per provider
                    </label>
                </div>
            </div>

            <div>
                <div class="multiple-choice">
                    <input asp-for="AssignDatasetSchemaViewModel.IsSetAsProviderData" type="checkbox" id="isProviderData" value="true" title="isProviderData" />
                    <label asp-for="AssignDatasetSchemaViewModel.IsSetAsProviderData">Set as provider data</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p  class="form-submit-container"><button type="submit" class="button" id="createDatasetButton">Create dataset</button> <a href="/specs/policies/@Model.SpecificationId" id="cancelLink">Cancel</a></p>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script asp-src-include="~/assets/libs/js/select2.min.js" type="text/javascript" asp-append-version="true"></script>
}
@section styles{
    <link rel="stylesheet" asp-href-include="~/assets/libs/css/select2.min.css" />
}