@page "{specificationId}"
@model CalculateFunding.Frontend.Pages.Datasets.ListDatasetSchemasModel
@using CalculateFunding.Frontend.Properties
@{
    ViewData["Title"] = "Data types";
    ViewData["ActiveNavBarArea"] = "specs";
}

@section NavBar {
    <partial name="_NavbarPartial" />
}

@section BreadCrumb{

    <div class="breadcrumbs">
        <ol>
            <li><a href="/">@BreadcrumbText.CalculateFunding</a></li>
            <li><a href="/specs">@BreadcrumbText.Specifications</a></li>
            <li><a href="~/specs/policies/@Model.Specification.Id">@Model.Specification.Name</a></li>
            <li>@BreadcrumbText.Datasets</li>
        </ol>
    </div>
}
@section BannerWholeBlue {
    <partial name="_SpecificationFullHeaderPartial" model="Model.Specification" />
}

<div class="manage-policy">

    <div class="view-dataset">
        <div class="row">
            <div class="col-xs-12 policy-spec-what ">
                <p class="withjs-hide">What is @Model.Specification.Name?</p>
                <div class="inline-collapse-container spacing-15-bottom">
                    <div class="inline-collapse-heading withjs-show">
                        <i class="inline-collapse-arrow"></i>
                        <span>What is @Model.Specification.Name?</span>
                    </div>
                    <div class="inline-collapse-contents withjs-hide policy-spec-description">
                        @Model.Specification.Description.ReplaceLineBreaksForHtml()
                    </div>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs nav-tabs-pagenavigation spacing-15-bottom" id="managePoliciesTabs" role="tablist">
            <li class="nav-item">
                <a id="nav-policy-tab" href="/specs/policies/@Model.Specification.Id" role="tab" aria-selected="true">Policy structure</a>
            </li>
            <li class="nav-item">
                <a id="nav-policy-tab" href="/calcs/additionalcalculations/@Model.Specification.Id" role="tab" aria-selected="true">Additional calculations</a>
            </li>
            <li class="nav-item active">
                <a id="nav-dataset-tab" href="#" role="tab" aria-selected="false">
                    <span class="provider-datasets-warning-tab">
                        <span>Datasets</span>
                        @if (!Model.HasProviderDatasetsAssigned)
                        {
                            <i class="material-icons icon-not-HasProviderDatasetsAssigned">warning</i>
                        }
                    </span>
                </a>
            </li>
        </ul>
        <div>
            @if (!Model.DatasetDefinitions.IsNullOrEmpty())
            {
                @if (!Model.HasProviderDatasetsAssigned)
                {
                    <div class="provider-datasets-warning-container spacing-15-bottom">
                        <i class="material-icons">warning</i> <span>No dataset has been set as provider data. This may affect results.</span>
                    </div>
                }

                <div class="datasets-mapping-link">
                    <a href="/datasets/specificationrelationships?specificationId=@Model.Specification.Id">Map data source file to data set</a>
                </div>
                <table class="cf" id="datasets-table">
                    <thead>
                        <tr>
                            <th style="width: 50%">Dataset</th>
                            <th>Data schema</th>
                            <th>Description</th>
                        </tr>
                    </thead>

                    <tbody id="static-results-table-body">
                        @{
                            int rowId = 0;
                        }

                        @foreach (var datasetDefinition in Model.DatasetDefinitions)
                        {
                            foreach (var dataset in datasetDefinition.Datasets)
                            {
                                <tr>
                                    <td>
                                        <span class="button-split-container">
                                            @*Hidden for now until we have edit datasets available*@
                                            @*<span class="button-split-icon">
                                                    <a href="/datasets/EditDataset/@dataset.Id?returnPage=Specifications" class="data-static-specification-name"><i class="material-icons">edit</i>@dataset.Name</a>
                                                    @if (dataset.IsSetAsProviderData)
                                                    {
                                                        <span class="datsets-provider-data-notification-icon"> &#9679; <span class="datsets-provider-data-notification-text">Provider data </span></span>
                                                    }
                                                </span>*@
                                            <span class="button-split-text">
                                                <span>@dataset.Name </span>
                                                @if (dataset.IsSetAsProviderData)
                                                {
                                                    <span class="datsets-provider-data-notification-icon"> &#9679; <span class="datsets-provider-data-notification-text">Provider data </span></span>
                                                }
                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        <span>@datasetDefinition.Name</span>
                                    </td>
                                    <td class="expander-trigger-cell fixed-width-30" data-bind="click: function(){calculateFunding.table.toggleExpandContainer($element)}"><i class="glyphicon glyphicon-triangle-right"></i></td>
                                </tr>

                                <tr class="expander-container">
                                    <td colspan="3" class="expander-container-background expander-container-padding-md">

                                        <div class="spacing-15-bottom">
                                            <p><strong>Dataset description:</strong></p>
                                            <p class="data-specification-fundingperiod">@dataset.Description</p>
                                        </div>
                                    </td>
                                </tr>
                                rowId++;
                            }
                        }
                    </tbody>
                </table>





            }
            else
            {
                <p>
                    <a href="/datasets/AssignDatasetSchema/@Model.Specification.Id">No datasets exist, create a dataset</a>
                </p>
            }

        </div>

    </div>

</div>

@section scripts{

    <script asp-src-include="~/js/table.expander.js" asp-append-version="true" type="text/javascript"></script>
}