@page "{relationshipId?}"
@model CalculateFunding.Frontend.Pages.Datasets.SelectSourceDatasetPageModel
@using CalculateFunding.Frontend.Properties

@{
    ViewData["Title"] = "Select source dataset";
    Layout = "~/Pages/_Layout.cshtml";
}

@section BreadCrumb{
    <div class="breadcrumbs">
        <ol>
            <li><a href="/">@BreadcrumbText.CalculateFunding</a></li>
            <li><a href="~/datasets">Manage Data</a></li>
            <li><a href="~/datasets/datasetrelationships">Choose data...</a></li>
            <li><a href="~/datasets/specificationrelationships/@Model.ViewModel.SpecificationId">@Model.ViewModel.SpecificationName</a></li>
            <li>@BreadcrumbText.SelectSourceDataset</li>
        </ol>
    </div>
}

@section FormBannerLeft{
    <p class="hero-text faded-text">@Model.ViewModel.SpecificationName</p>
    <h1 class="hero-title">@Model.ViewModel.DefinitionName</h1>
}

<div class="row spacing-15">
    <div class="col-xs-8">
        <form method="post" class="form">
            <div class="validation-summary-errors" @(Model.ModelState.ErrorCount == 0 ? "style=display:none;" : string.Empty) data-valmsg-summary="true">
                <h3 class="heading-large">There is a problem</h3>
                <p><strong>Check that you have answered the questions correctly</strong></p>
                <ul data-bind="foreach: validationLinks">
                    <li><a href="#data-sources-anchor" class="validation-summary-link">You must select at least one data source name</a></li>
                    <li><a href="#data-sources-anchor" class="validation-summary-link">And check you have selected data source version</a></li>
                </ul>
            </div>
            <input name="specificationId" id="specificationId" type="hidden" value="@Model.ViewModel.SpecificationId" />
            <a name="data-sources-anchor" class="form-anchor"></a>
            <h4 class="heading-small">Select the source dataset</h4>

            <div class="ds-container @(Model.ModelState.ErrorCount > 0 ? "red-left-border" : "")">

                @foreach (var dataset in Model.ViewModel.Datasets)
                {
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="block-label @(Model.ModelState.ErrorCount > 0 ? "red-3p-border" : "")">
                                @dataset.Name
                                <input name="datasets" @(dataset.IsSelected ? "checked='checked'" : string.Empty) id="@dataset.Id" type="radio" value="@dataset.Id">
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="ds-versions-container @(Model.ModelState.ErrorCount > 0 ? "red-left-border" : "grey-left-border")" id="@dataset.VersionContainerId">
                                <h4 class="heading-small">Select the dataset version</h4>
                                @foreach (var version in dataset.Versions)
                                {
                                    <label><input type="radio" @(version.IsSelected ? "checked='checked'" : string.Empty) name="datasetVersion" value="@version.UniqueName">@version.ToString()</label>
                                }
                            </div>

                        </div>
                    </div>
                }
            </div>
            <p class="form-submit-container"><button type="submit" class="button" id="save-button">Save</button> <a href="/datasets/specificationrelationships/@Model.ViewModel.SpecificationId" id="cancel-link">Cancel</a></p>
        </form>
    </div>

</div>

@section Scripts{
    <script type="text/javascript">
        $('.ds-versions-container').hide();
        $("#save-button").attr("disabled", "disabled");
        $('input[name=datasets]').on('change', function () {
            $('.block-label').removeClass('add-focus');
            $(this).parent().addClass('add-focus');
            $('.ds-versions-container').hide();
            var checkedId = $(this).attr('id');
            $('#' + checkedId + '_container').show();
        });

        $('input[name=datasetVersion]').on('change', function () {
            $("#save-button").removeAttr("disabled");
        });
        $('.block-label input').each(function (i, obj) {
            if (obj.checked === true) {
                $('#' + obj.id + '_container').show();
                $('#' + obj.id).parent().addClass('add-focus');
            }
        });
    </script>
}