@page
@model CalculateFunding.Frontend.Pages.Datasets.SpecificationRelationshipsPageModel
@{
    ViewData["Title"] = "Specification Relationships";
    Layout = "~/Pages/_Layout.cshtml";
}

@section BreadCrumb{
    <div class="breadcrumbs">
        <ol>
            <li><a href="~/">Calculate Funding</a></li>
            <li><a href="~/datasets">Manage Data</a></li>
            <li><a href="~/datasets/datasetrelationships">Choose data sources...</a></li>
            <li>@Model.ViewModel.Specification.Name</li>
        </ol>
    </div>
}

@section BannerLeft{
    <p class="hero-title">@Model.ViewModel.Specification.Name</p>
    <p class="hero-text">Map specification between data sources and datasets.</p>
}

<div class="row spacing-15">
    <div class="col-xs-12">

        @if (Model.ShowSuccessMessage)
        {
            <div class="alert alert--success">
                <span>You mapped the new data source successfully</span> <a id="dismiss-link" class="float-right" href="~/datasets/specificationrelationships/@Model.ViewModel.Specification.Id">Dismiss</a>
            </div>
        }

        <p id="datasourceCount">@Model.ViewModel.GetCountPhrase()</p>

        @{
            int counter = 0;
        }

        @if (Model.ViewModel.Items.IsNullOrEmpty())
        {
            <p id="noDatasourceMappedMessage">No data sources have been mapped to @Model.ViewModel.Specification.Name</p>
            <p id="noDatasourceMappedHowToMessage"><h4 class="heading-small no-margin">To map a datasource to a specification you must:</h4></p>
            <p id="noDatasourceMappedHowToSteps">
                1. Go to the Specification and create a dataset. <br />
                2. Return here and add a data source to a dataset.
            </p>
        }
        else
        {
            @foreach (var item in Model.ViewModel.Items)
            {
                <div class="@(counter %2 == 0 ? "spec-rel-grey-back":"spec-rel-white-back") specification-relationship-container" >
                    <h2 class="heading-medium heading-24 no-margin specification-relationship-relation-name">@item.DefinitionName</h2>
                    <h4 class="heading-small no-margin specification-relationship-definition-name">@item.RelationName</h4>
                    <p  class="faded-text small no-margin specification-relationship-description">@item.RelationshipDescription</p>
                    <p><strong>@item.DatasetPhrase</strong> <a href="~/datasets/selectsourcedataset?relationshipId=@item.RelationshipId">@item.LinkPhrase</a></p>
                </div>

                counter++;
            }
        }

    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        $('#dismiss-link').on('click', function (e) {
            e.preventDefault();

            $('.alert').hide();
        });
    </script>
}



