@page
@model CalculateFunding.Frontend.Pages.Datasets.SpecificationRelationshipsPageModel
@using CalculateFunding.Frontend.Properties
@using ViewModels.Specs

@{
    ViewData["Title"] = "Specification relationships";
    const string pathToMapToDataSchema = "~/datasets/selectsourcedataset?relationshipId={0}";
}

@section NavBar {
    <partial name="_NavbarPartial" />
}

@if (!Model.IsAuthorizedToMap)
{
    @section PermissionWarnings
    {

        <div class="row">
            <div class="col-xs-12 permission-warning-banner">
                <div class="permission-warning-inner">
                    <p class="permission-warning-text"><i class="material-icons permission-warning-icon">warning</i>You are not permitted to map datasets for this specification</p>
                </div>
            </div>
        </div>
    }
}

@section BreadCrumb{
    <div class="breadcrumbs">
        <ol>
            <li><a href="/">@BreadcrumbText.CalculateFunding</a></li>
            <li><a href="~/datasets">@BreadcrumbText.ManageDatasets</a></li>
            <li><a href="~/datasets/datasetrelationships">@BreadcrumbText.DatasetRelationships</a></li>
            <li>@Model.ViewModel.Specification.Name</li>
        </ol>
    </div>
}

@section BannerWholeBlue {
    <partial name="_SpecificationHeaderPartial" model="@Model.ViewModel.SpecificationTrimmedViewModel" />
}

<div class="row spacing-15" id="specification-relationship-page">
    <div class="col-xs-12">

        @if (Model.ShowSuccessMessage)
        {
            <div class="alert alert--success">
                <span>You mapped the new data source successfully</span> <a id="dismiss-link" class="float-right" href="~/datasets/specificationrelationships/@Model.ViewModel.Specification.Id">Dismiss</a>
            </div>
        }

        <p id="datasourceCount">@Model.ViewModel.GetCountPhrase()</p>

        @{
            int counter = 0;
        }

        @if (Model.ViewModel.Items.IsNullOrEmpty())
        {
            <p id="noDatasourceMappedMessage">No data source mapped - <a href="~/datasets/AssignDatasetSchema/@Model.ViewModel.Specification.Id"> @Model.ViewModel.Specification.Name</a>.</p>
            <p id="noDatasourceMappedHowToMessage"><h4 class="heading-small no-margin">To map a datasource to a specification you must:</h4></p>
            <p id="noDatasourceMappedHowToSteps">
                1. Go to the specification and create a dataset. <br />
                2. Return here and add a data source to a dataset.
            </p>
        }
        else
        {
            <table class="cf" id="datasets-table">
                <thead>
                    <tr>
                        <th id="dataset-header-column">Dataset</th>
                        <th>Mapped data source file</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ViewModel.Items)
                    {
                        <tr>
                            <td>
                                <div class="dataset-name-holder">
                                    <span>@item.RelationName</span>
                                    @if (item.IsProviderData)
                                    {
                                        <div class="float-right"><span class="dotted-icon">&#9679;</span> <span class="dataset-isprovider-text">Provider data</span></div>
                                    }
                                </div>
                            </td>
                            <td>
                                @if (item.DatasetName.IsNullOrEmpty())
                                {
                                    <a href=@Url.Content(string.Format(pathToMapToDataSchema, @item.RelationshipId))>@item.LinkPhrase</a>
                                }
                                else
                                {
                                    <div>
                                        <span class="button-split-container">
                                            <span class="button-split-icon">
                                                <a href=@Url.Content(string.Format(pathToMapToDataSchema, @item.RelationshipId))><i title="Edit" class="material-icons">edit</i></a>
                                            </span>
                                            <span>
                                                @item.DatasetName
                                            </span>
                                        </span>
                                    </div>
                                }
                            </td>
                            <td class="expander-trigger-cell fixed-width-30"><i class="material-icons">keyboard_arrow_down</i></td>
                        </tr>

                        <tr class="expander-container">
                            <td colspan="3" class="expander-container-background expander-container-padding-md">

                                <div class="spacing-15-bottom dataset-info-card">
                                    <span class="display-block info-holder"><strong>Data Schema:</strong> @item.DefinitionName</span>
                                    <span class="display-block info-holder"><strong>Dataset description:</strong> @item.RelationshipDescription</span>
                                    <span class="display-block info-holder">Data source file version: <strong>@item.DatasetVersion</strong></span>
                                    <a class="display-block info-holder" href=@Url.Content(string.Format(pathToMapToDataSchema, @item.RelationshipId))>@item.LinkPhrase</a>
                                </div>
                            </td>
                        </tr>

                        counter++;
                    }

                </tbody>
            </table>
        }

    </div>
</div>

@section Scripts{
    <script asp-src-include="~/js/table.expander.js" asp-append-version="true" type="text/javascript"></script>
    <script type="text/javascript">

        $('#dismiss-link').on('click', function (e) {
            e.preventDefault();

            $('.alert').hide();
        });
    </script>
}



