@page "{pageNumber?}"
@*@using CalculateFunding.Frontend.Clients.ResultsClient.Models*@
@model CalculateFunding.Frontend.Pages.Results.CalculationProviderResultsPageModel;
@using CalculateFunding.Frontend.ViewModels.Common
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv
@using Microsoft.AspNetCore.Hosting

@{
    ViewData["Title"] = "View calculation provider results";
    Layout = "~/Pages/_Layout.cshtml";
}

@section BreadCrumb{
    <div class="breadcrumbs">
        <ol>
            <li><a href="/">Calculate Funding</a></li>
            <li><a href="/results">View results</a></li>
            <li><a href="/results/viewcalculationresults">View calculation results</a></li>
            <li>@Model.Calculation.Name</li>
        </ol>
    </div>
}

@section BannerLeft{
    <p class="hero-description">@Model.Specification.Name </p>
    <h1 class="hero-title">@Model.Calculation.Name</h1>
}
@section BannerMiddle{
    <form method="post" action="/results" class="filter-container spacing-15" data-bind="submit: performSearch" id="filter-container" asp-antiforgery="true">
        <div class="row">
            <div class="col-xs-9 filter-field-heading">Search by provider name, UPIN, UKPRN, URN or establishment number</div>
        </div>
        <div class="row">
            <div class="col-xs-9">
                <div class="input-group">
                    <input type="text" asp-for="SearchTerm" class="form-control" placeholder="Search provider" data-bind="textInput: searchTerm, enable: canSelectFilters" />
                    <div class="input-group-addon"><input id="filter-search-button-image" type="image" src="~/assets/images/icon-search.png" data-bind="enable: canPerformSearch" /></div>
                </div>
            </div>
        </div>
        <div class="row spacing-15-top withjs-show" data-bind="visible: searchPerformed">
            <div class="col-xs-4 filter-field-heading">Provider type</div>
            <div class="col-xs-4 filter-field-heading">Provider subtype</div>
            <div class="col-xs-4 filter-field-heading">Local authority</div>
        </div>
        <div class="row withjs-show" data-bind="visible: searchPerformed">
            <div class="col-xs-4">
                <select id="providertype" data-bind="multiselect2: {nonSelectedText: 'Select provider type', buttonWidth: '100%', disableIfEmpty: true}, options: providerType, optionsText: 'displayName', optionsValue: 'name', selectedOptions: selectedProviderTypes, enable: canSelectFilters" multiple></select>
            </div>
            <div class="col-xs-4">
                <select id="providersubtype" data-bind="multiselect2: {nonSelectedText: 'Select provider subtype', buttonWidth: '100%', disableIfEmpty: true}, options: providerSubType, optionsText: 'displayName', optionsValue: 'name', selectedOptions: selectedProviderSubTypes, enable: canSelectFilters" multiple></select>
            </div>
            <div class="col-xs-4">
                <select id="localauthority" data-bind="multiselect2: {nonSelectedText: 'Select local authority', buttonWidth: '100%', disableIfEmpty: true}, options: authority, optionsText: 'displayName', optionsValue: 'name', selectedOptions: selectedLocalAuthorities, enable: canSelectFilters" multiple></select>
            </div>

        </div>
    </form>
}

<div class="row providers-search" id="providers-search-container">
    <div class="col-xs-12">
        <div class="grey-alert alert--info-grey" role="alert">
            <div class="alert__message"> <span>Status: <strong>@Model.Calculation.PublishStatus</strong></span><span class="alert-content-margin"> Last saved by: <strong>@Model.Calculation.LastModifiedByName</strong></span><span class="alert-content-margin"><strong>@Model.Calculation.LastModified.ToString("dd/MM/yy HH:mm:ss")</strong></span><span class="alert-content-margin"> Calculation type: <strong>@Model.Calculation.CalculationType</strong></span> <a href="/calcs/editCalculation/@Model.Calculation.Id" class="float-right"><strong>View calculation</strong></a></div>
        </div>
    </div>
    @Html.Partial("_SearchFilterPartial")
    @Html.Partial("_SearchErrorPartial")
    <div class="col-xs-12">
        @if (!Model.HasProviderDatasetsAssigned)
    {
        <div class="provider-datasets-warning-container spacing-15-bottom">
            <i class="material-icons">warning</i> <span>No dataset has been set as provider data. This may affect results.</span>
        </div>
}
else
{

    <div data-bind="visible: isResultsVisible">
        @Html.Partial("_SearchPagerPartial_ProviderResults", new PagerPartialViewModel(Model.CalculationProviderResults, "providers", Model.SearchTerm))
    </div>
    <div class="row" data-bind="visible: !searchPerformed()">       
        <div class="provider-item-property-container">
            <span> Provider </span>
            <span> Funding  </span>
        </div>
    </div>
    <div class="providers-searchresult-container spacing-30" data-bind="visible: !searchPerformed()">
        @{
        int providerRow = 0;
        }

        @foreach (var provider in Model.CalculationProviderResults.CalculationProviderResults)
    {
        <div class="provider-item-container" id="provider-item-result-@providerRow">
            <div class="provider-item-header">
                <span class="float-right"><strong>@provider.CalculationResultDisplay</strong></span>
                <h4 class="heading-small"><a href="/results/ProviderCalcsResults?providerId=@provider.Id&periodId=@Model.Calculation.FundingPeriodId&specificationId=@Model.Calculation.SpecificationId">@provider.Name</a></h4>
            </div>
            <div class="provider-item-property-container">
                <span class="provider-item-property provider-item-property-last-updated">
                    Updated:
                    <strong>
                        <span id="provider-item-last-updated-@providerRow">
                            @Model.Calculation.LastModified.ToString("dd/MM/yy HH:mm:ss")
                        </span>
                    </strong>
                </span>
            </div>
            <div class="provider-item-property-container">
                <span class="provider-item-property provider-item-property-upin">
                    UPIN:
                    <strong>
                        <span id="provider-item-upin-@providerRow">
                            @(provider.Upin > 0 ? provider.Upin.ToString() : "No data found")
                        </span>
                    </strong>
                </span>
                <span class="provider-item-property provider-item-property-ukprn">
                    UKPRN:
                    <strong>
                        <span id="provider-item-ukprn-@providerRow">
                            @(provider.Ukprn > 0 ? provider.Ukprn.ToString() : "No data found")

                        </span>
                    </strong>
                </span>
                <span class="provider-item-property provider-item-property-urn">
                    URN:
                    <strong>
                        <span id="provider-item-urn-@providerRow">
                            @(provider.Urn > 0 ? provider.Urn.ToString() : "No data found")
                        </span>
                    </strong>
                </span>
                <span class="provider-item-property provider-item-property-estab-num">
                    Establishment number:
                    <strong>
                        <span id="provider-item-establishmentnumber-@providerRow">
                            @(provider.EstablishmentNumber > 0 ? provider.EstablishmentNumber.ToString() : "No data found")
                        </span>
                    </strong>
                </span>
            </div>
            <div class="provider-item-property-container">
                <span class="provider-item-property provider-item-property-providertype">
                    Provider type:
                    <strong>
                        <span id="provider-item-providertype-@providerRow">@provider.ProviderType</span>
                    </strong>
                </span>
                <span class="provider-item-property provider-item-property-provider">
                    &nbsp;Provider subtype:
                    <strong>
                        <span id="provider-item-providersubtype-@providerRow">@provider.ProviderSubType</span>
                    </strong>
                </span>
            </div>
            <div class="provider-item-property-container">
                <span class="provider-item-property provider-item-property-local-authority">
                    Local authority:
                    <strong>
                        <span id="provider-item-localauthority-@providerRow">@provider.LocalAuthority</span>
                    </strong>
                </span>
            </div>
            <div class="provider-item-property-container">
                <span class="provider-item-property provider-item-property-date-opened">
                    Date Opened:
                    <strong>
                        <span id="provider-item-dateopened-@providerRow">@provider.DateOpenedDisplay</span>
                    </strong>
                </span>
            </div>
        </div>
    providerRow++;
}
    </div>
}
        <div class="providers-searchresult-header row" data-bind="visible: isResultsVisible()">
            <div class="col-xs-12">
                <span> <strong>Provider</strong></span>
                <span class="float-right"><strong>Total funding</strong>   </span>
            </div>
        </div>
        <div data-bind="visible: isResultsVisible">
            <div class="providers-searchresult-container spacing-30 withjs-show" data-bind="foreach: providerSearchResults">
                <div class="provider-item-container" data-bind="attr: {'id' : 'provider-item-result-' +$index()">
                    <div class="provider-item-header">
                        <strong><span class="float-right" data-bind="text: calculationResultDisplay"></span></strong>
                        <h4 class="heading-small"><a data-bind="attr: {href: '/results/ProviderCalcsResults?providerId=' + ukprn + '&fundingPeriodId=' + $root.fundingPeriodId + '&specificationId=' + $root.specificationId }, text: name"></a></h4>

                    </div>
                    <p>
                        <span class="provider-item-property">
                            Updated: <strong><span data-bind="text: lastUpdatedDateDisplay"></span></strong>
                        </span>
                    </p>
                    <p>
                        <span class="provider-item-property">
                            UPIN:&nbsp; <strong> <span data-bind="text: upin > 0 ? upin : 'No data found', attr:{  'id' : 'provider-item-upin-'+$index() }"></span> </strong>
                        </span>
                        <span class="provider-item-property">
                            &nbsp;UKPRN:&nbsp;<strong> <span data-bind="text: ukprn > 0 ? ukprn : 'No data found', attr:{ 'id' : 'provider-item-ukprn-' +$index()}"></span></strong>
                        </span>
                        <span class="provider-item-property">
                            &nbsp;URN:&nbsp;<strong><span data-bind="text: urn > 0 ? urn : 'No data found', attr: {'id' : 'provider-item-urn-' +$index()}"></span></strong>
                        </span>
                        <span class="provider-item-property">
                            &nbsp;Establishment number:&nbsp;<strong><span data-bind="text: establishmentNumber > 0 ? establishmentNumber : 'No data found', attr: {'id' : 'provider-item-establishmentnumber-' +$index()}"></span></strong>
                        </span>
                    </p>
                    <div>
                        <span class="provider-item-property">
                            Provider type:&nbsp;<strong><span data-bind="text: providerType, attr: { 'id' : 'provider-item-providertype-'+$index() }"></span></strong>
                        </span>
                        <span class="provider-item-property">
                            &nbsp;Provider subtype:&nbsp;<strong><span data-bind="text: providerSubType, attr:{ 'id' : 'provider-item-providersubtype-' +$index() }"></span></strong>
                        </span>
                    </div>
                    <div>
                        <span class="provider-item-property">
                            Local authority:&nbsp;<strong><span data-bind="text: localAuthority, attr: { 'id' : 'provider-item-localauthority-'+$index() }"></span></strong>
                        </span>
                    </div>
                    <div>
                        <span class="provider-item-property">
                            Date Opened:&nbsp;<strong><span data-bind="text: dateOpenedDisplay, attr: { 'id' :'provider-item-dateopened-'+$index() }"> </span></strong>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="withjs-show search-loading-container" data-bind="visible: isLoading">
            <img src="~/assets/images/loader.gif" alt="Loading" />
            <p>Loading Provider Results</p>
        </div>

        @if (!Model.CalculationProviderResults.CalculationProviderResults.AnyWithNullCheck())
        {
        <noscript>
            <div class="noresults-panel spacing-30">
                <span class="noresults-panel-text">
                    <i class="material-icons">error</i> No results. Check when the calculation was last run, or check its code and the datasets it uses.
                </span>
            </div>
        </noscript>
        }

        <div class="noresults-panel spacing-30 withjs-show" data-bind="visible: providerSearchResults().length === 0 && searchPerformed()">
            <span class="noresults-panel-text">
                <i class="material-icons">error</i> No results. Check when the calculation was last run, or check its code and the datasets it uses.
            </span>
        </div>
    </div>
</div>

@section scripts{
    <script asp-src-include="~/assets/libs/js/knockout-latest.js" asp-append-version="true" type="text/javascript"></script>
    @if (!hostingEnv.IsDevelopment())
    {
        <script asp-src-include="~/assetsjs/bootstrap-multiselect-*.js" asp-append-version="true" type="text/javascript"></script>
    }
    else
    {
        <script asp-src-include="~/assets/js/bootstrap-multiselect.js" asp-append-version="true" type="text/javascript"></script>
    }
    <script asp-src-include="~/js/bindingHandler.multiselect.js" asp-append-version="true" type="text/javascript"></script>
    <script asp-src-include="~/js/search.js" asp-append-version="true" type="text/javascript"></script>

    <script asp-src-include="~/js/search.calculationProviderResults.js" asp-append-version="true" type="text/javascript"></script>
    <script type="text/javascript">
        var vm = new calculateFunding.results.listCalulationProviderResults.ProviderSearchViewModel({ calculationId: '@Model.Calculation.Id', specificationId: '@Model.Specification.Id', fundingPeriodId: '@Model.Specification.FundingPeriod?.Id', doSearch: @Model.HasProviderDatasetsAssigned.ToString().ToLower() });
        var filterElement = document.getElementById("filter-container");
        if (filterElement) {
            ko.applyBindings(vm, filterElement);
        }
        var providerResultsContainer = document.getElementById("providers-search-container");
        if (providerResultsContainer) {
            ko.applyBindings(vm, providerResultsContainer);
        }
        vm.performSearch();

    </script>
}

@section styles{
    <link rel="stylesheet" asp-href-include="~/assets/libs/css/bootstrap-multiselect.css" asp-append-version="true" />
}
