@page
@model CalculateFunding.Frontend.Pages.Results.ProviderSummaryPageModel
@using CalculateFunding.Frontend.Properties
@{
    ViewData["Title"] = "View provider data";
}
@section NavBar {
    <partial name="_NavbarPartial" />
}
@section BreadCrumb{
    <div class="breadcrumbs">
        <ol>
            <li><a href="~/">@BreadcrumbText.CalculateFunding</a></li>
            <li><a href="~/results/index">@BreadcrumbText.ViewResults</a></li>
            <li>@Model.ViewModel.ProviderName</li>
        </ol>
    </div>
}
@section BannerLeft{
    <h6>Provider name:</h6>
    <h1 class="hero-title no-margin">@Model.ViewModel.ProviderName</h1>
    @*<p class="hero-text no-margin">
            <span>UPIN:&nbsp;<strong>@Model.ViewModel.Upin</strong>&nbsp;</span>
            <span>UKPRN:&nbsp;<strong>@Model.ViewModel.Ukprn</strong>&nbsp;</span>
            <span>URN:&nbsp;<strong>@Model.ViewModel.Urn</strong>&nbsp;</span>
        </p>*@
    <p class="hero-text">
        <div>
            <span>Local authority:&nbsp;<strong>@Model.ViewModel.LocalAuthority</strong></span>
        </div>
        <div>
            <span>Provider type:&nbsp;<strong>@Model.ViewModel.ProviderType</strong></span>&nbsp;
        </div>
        <div>

            <span>Provider subtype:&nbsp;<strong>@Model.ViewModel.ProviderSubtype</strong></span>
        </div>
        <div>
            <span>Date opened:&nbsp;<strong>@String.Format(Model.ViewModel.DateOpened, FormatStrings.DateTimeFormatString)</strong>&nbsp;</span>
        </div>
    </p>
}
@section BannerMiddle{
    <form method="post" class="filter-container spacing-15" id="filter-container" asp-antiforgery="true">
        <div class="row">
            <div class="col-xs-3 filter-field-heading">Funding period</div>
            <div class="col-xs-4 filter-field-heading">Specification</div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <select asp-items="@(Model.FundingPeriods)" asp-for="@Model.FundingPeriodId" class="form-control filter">
                    <option></option>
                </select>
            </div>
            <div class="col-xs-4">
                <select asp-items="@(Model.Specifications)" asp-for="@Model.SpecificationProviderVersion" class="form-control filter">
                    <option></option>
                </select>
            </div>
            <div class="col-xs-1">
                <button type="submit" class="button" id="search-button">Search</button>
            </div>
        </div>
    </form>
}
<div class="row provider-funding">
    <div class="col-xs-12">
        <div class="row view-policy">
            <ul class="nav nav-tabs nav-tabs-pagenavigation spacing-15-bottom" id="AllocationLineTabs" role="tablist">
                <li class="nav-item">
                    <a id="nav-calculations-tab" href="/results/ProviderTemplateCalculations?providerId=@Model.ProviderId&fundingPeriodId=@Model.FundingPeriodId&specificationProviderVersion=@Model.SpecificationProviderVersion" role="tab" aria-selected="false">Template Calculations</a>
                </li>
                <li class="nav-item">
                    <a id="nav-calculations-tab" href="/results/ProviderAdditionalCalculations?providerId=@Model.ProviderId&fundingPeriodId=@Model.FundingPeriodId&specificationProviderVersion=@Model.SpecificationProviderVersion" role="tab" aria-selected="false">Additional Calculations</a>

                </li>
                <li class="nav-item">
                    <a id="nav-test-results-tab" href="/results/ProviderScenarioResults?providerId=@Model.ProviderId&fundingPeriodId=@Model.FundingPeriodId&specificationProviderVersion=@Model.SpecificationProviderVersion" role="tab" aria-selected="false">QA Test results</a>
                </li>
                <li class="nav-item active">
                    <a id="nav-provider-summary-tab" href="#" role="tab" aria-selected="true">Provider Data</a>
                </li>
            </ul>
            <br />
            <h4 class="material-icons-content-container"><i class="material-icons material-icons-left">error</i> <span class="faded-text">@($"You are using the {Model.ViewModel.ProviderName} from ") @(Model.ViewModel.Version.HasValue ? $"{Model.ViewModel.TargetDate} Version {Model.ViewModel.Version}." : " the Master Version.")</span></h4>
            <br />
            <div class="view-provider-summary">
                <table class="cf provider-summary-table">
                    <thead>
                        <tr>
                            <th colspan="2">Data</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody class="static-results-table-body">
                        <tr>
                            <td colspan="2"><strong>Establishment details</strong></td>
                        </tr>
                        <tr>
                            <td class="tab"></td>
                            <td>Establisment name</td>
                            <td>@Model.ViewModel.ProviderName</td>
                        </tr>
                        <tr>
                            <td class="tab"></td>
                            <td>Establishment number</td>
                            <td>@Model.ViewModel.EstablishmentNumber</td>
                        </tr>
                        <tr>
                            <td class="tab"></td>
                            <td>UKPRN</td>
                            <td>@Model.ViewModel.Ukprn</td>
                        </tr>
                        <tr>
                            <td class="tab"></td>
                            <td>UPIN</td>
                            <td>@Model.ViewModel.Upin</td>
                        </tr>
                        <tr>
                            <td class="tab"></td>
                            <td>URN</td>
                            <td>@Model.ViewModel.Urn</td>
                        </tr>
                        <tr>
                            <td colspan="3"><strong>Provider details</strong></td>
                        </tr>
                        <tr>
                            <td class="tab"></td>
                            <td>Provider type</td>
                            <td>@Model.ViewModel.ProviderType</td>
                        </tr>
                        <tr>
                            <td class="tab"></td>
                            <td>Provider sub type</td>
                            <td>@Model.ViewModel.ProviderSubtype</td>
                        </tr>
                        <tr>
                            <td class="tab"></td>
                            <td>Phase of education</td>
                            <td>@Model.ViewModel.PhaseOfEducation</td>
                        </tr>
                        <tr>
                            <td class="tab"></td>
                            <td>Provider profile type</td>
                            <td>@Model.ViewModel.ProviderProfileIdType</td>
                        </tr>
                        <tr>
                            <td colspan="3"><strong>Location details</strong></td>
                        </tr>
                        <tr>
                            <td class="tab"></td>
                            <td>Local authority</td>
                            <td>@Model.ViewModel.LocalAuthority</td>
                        </tr>
                        <tr>
                            <td class="tab"></td>
                            <td>Local authority code</td>
                            <td>@Model.ViewModel.LaCode</td>
                        </tr>
                        <tr>
                            <td class="tab"></td>
                            <td>Town</td>
                            <td>@Model.ViewModel.Town</td>
                        </tr>
                        <tr>
                            <td class="tab"></td>
                            <td>Postcode</td>
                            <td>@Model.ViewModel.Postcode</td>
                        </tr>
                        <tr>
                            <td colspan="3"><strong>Status details</strong></td>
                        </tr>
                        <tr>
                            <td class="tab"></td>
                            <td>Status</td>
                            <td>@Model.ViewModel.Status</td>
                        </tr>
                        <tr>
                            <td class="tab"></td>
                            <td>Date opened</td>
                            <td>@String.Format(Model.ViewModel.DateOpened, FormatStrings.DateTimeFormatString)</td>
                        </tr>
                        <tr>
                            <td class="tab"></td>
                            <td>Date closed</td>
                            <td>@String.Format(Model.ViewModel.DateClosed, FormatStrings.DateTimeFormatString)</td>
                        </tr>
                        <tr>
                            <td class="tab"></td>
                            <td>Reason establishment opened</td>
                            <td>@Model.ViewModel.ReasonEstablishmentOpened</td>
                        </tr>
                        <tr>
                            <td class="tab"></td>
                            <td>Reason establishment closed</td>
                            <td>@Model.ViewModel.ReasonEstablishmentClosed</td>
                        </tr>
                        <tr>
                            <td class="tab"></td>
                            <td>Successor</td>
                            <td>@Model.ViewModel.Successor</td>
                        </tr>
                        <tr>
                            <td colspan="3"><strong>Trust details</strong></td>
                        </tr>
                        <tr>
                            <td class="tab"></td>
                            <td>Trust status</td>
                            <td>@Model.ViewModel.TrustStatus</td>
                        </tr>
                        <tr>
                            <td class="tab"></td>
                            <td>Trust name</td>
                            <td>@Model.ViewModel.TrustName</td>
                        </tr>
                        <tr>
                            <td class="tab"></td>
                            <td>Trust code</td>
                            <td>@Model.ViewModel.TrustCode</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $("#search-button").hide();
        $('select').change(function () {
            if ($(this).attr('id') == "FundingPeriodId") {
                $("#SpecificationId").val('');
            }
            $("#search-button").click();
        });
    </script>
}