@using Allocations.Web.ApiClient
@using Allocations.Web.ApiClient.Models
@model ApiClient.Models.TestStep
@if (Model != null)
{
    switch (Model.StepType)
    {
        case TestStepType.GivenSourceField:
        {
            var givenStep = Model as GivenStep;

            <p><span>@givenStep.Field</span> in <span>@givenStep.Dataset</span> @givenStep.Operator.GetDisplayText() <span>@givenStep.Value</span></p>

        }
            break;

        case TestStepType.ThenProductValue:
        {
            var thenStep = Model as ThenStep;

            <p>the value @thenStep.Operator.GetDisplayText() <span>@thenStep.Value</span></p>
        }

            break;
    } 
}

            
