@page "{id}" 
@using ApiClient.Models
@model Providers.DetailsModel
@{
    ViewData["Title"] = Model.Provider.Provider.Name;
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<!-- Breadcrumbs -->
<div class="row">
    <div class="col-xs-12">
        <div class="breadcrumbs">
            <ol>
                <li><a href="/">Home</a></li>
                <li><a href="/Overview">Funding overview</a></li>
                <li><a href="/Providers/@Model.Provider.Budget.Id">Providers failing tests</a></li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-8">
        <h1 class="heading-xlarge">@Model.Provider.Provider.Name</h1>
        <div class="provider-stats">
            <ul class="list-inline">
                <li>
                    <dl>
                        <dt>LA Name:</dt>
                        <dd>Northumberland</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>LAESTAB:</dt>
                        <dd>8713363</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>UPIN:</dt>
                        <dd>134673</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>UKPRN:</dt>
                        <dd>10061983</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>URN:</dt>
                        <dd>143802</dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    
    <div class="col-md-12">
        <div class="panel-group wrap esfa-collapse" id="esfa-list">
            @foreach (var byAllocationLine in Model.Provider.ScenarioResults.GroupBy(x => x.AllocationLine.Name))
            {
                <div class="panel">
                    <div class="panel-heading">
                        <h2 class="panel-title stream-title">
                            Total @byAllocationLine.Key 
                           
                        </h2>
                        <div class="esfa-summary">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <div class="data">
                                        <span class="data-item bold-xsmall">@byAllocationLine.Count() total scenarios</span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <div class="data">
                                        <span class="data-item bold-xsmall error-message">@byAllocationLine.Count(x => x.TestResult == TestResult.Failed) test scenarios failing</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="panel panel-border-narrow">

                                <ul class="list-group">
                                    @foreach (var scenarioResult in byAllocationLine.GroupBy(x => x.Product.Name))
                                    {
                                        <li class="list-group-item">
                                            <h3 class="heading-medium list-title">
                                                @scenarioResult.Key
                                                <span class="product-value">@scenarioResult.First().ProductValue.ToString()</span>
                                            </h3>
                                            @foreach (var scenario in scenarioResult)
                                            {
                                                <p>@scenario.Scenario?.Name @scenario.TestResult</p>
                                            }
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
